.setting-image{
    display: block;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.spacing-input-value{
    padding: 15px 0 0 0!important;
}

.canvas-location{
    margin:20px 0 0 0;
    font-weight: bolder;
    font-size: xx-large;
}

.canvas-floor{
    margin: 0;
    font-size: medium;
}

md-toolbar{
    background-color: #0093c4!important;
}