/******************************************************************
DIMENSIONS
*******************************************************************/
.height-100-vh{
    height: 100vh;
}

.height-100{
    height: 100%;
}

.width-30{
    width: 30%;
}

.width-50{
    width: 50%;
}

.height-90{
    height: 90%;
}

.width-100{
    width: 100%;
}

.width-5{
    width: 5%;
}

.width-300-px{
    width: 300px;
}

.parent-size{
    width: 100%;
    height: 100%;
}

















/******************************************************************
FONTS
*******************************************************************/

.font-oswald{
    font-family: 'Oswald', sans-serif;
}

.font-iceberg{
    font-family: 'Iceberg', sans-serif;
}

.font-x-large{
    font-size: x-large;
}

.font-medium{
    font-size: medium;
}

.font-smal{
    font-size: small;
}

.font-x-smal{
    font-size: x-small!important;
}

.text-center{
    text-align: center;
}

.text-underlined{
    text-decoration: underline;
}








/******************************************************************
FRAMEWORK
*******************************************************************/








/******************************************************************
MARGINS
*******************************************************************/

.margin-none{
    margin: 0!important;
}

.margin-top-0{
    margin-top: 0;
}

.margin-top-10{
    margin-top: 10% !important;
}

.margin-top--20-px{
    margin-top: -20px!important;
}

.margin-top-10-px{
    margin-top: 10px!important;
}

.margin-top-5-px{
    margin-top: 5px!important;
}

.margin-bottom-10{
    margin-bottom: 10% !important;
}

.margin-bottom-10-px{
    margin-bottom: 10px!important;
}

.margin-bottom-0{
    margin-bottom: 0;
}

.margin-bottom-30-px{
    margin-bottom: 30px;
}

.margin-right-10-px{
    margin-right: 10px;
}

.margin-left--8-px{
    margin-left: -8px;
}












/******************************************************************
PADDING
*******************************************************************/

.padding-top-5{
    padding-top: 5%;
}

.padding-bottom-10{
    padding-bottom: 10%;
}

.padding-0{
    padding: 0!important;
}

.padding-40-px{
    padding: 40px;
}

.padding-10-px{
    padding: 10px;
}

.padding-right-10-px{
    padding-right: 10px;
}

.padding-left-10-px{
    padding-left: 10px;
}
.padding-lr-15-px{
    padding: 0 15px 0 15px;
}

.popup-padding{
    padding: 5px 70px 20px 70px;
}













/******************************************************************
BORDER
*******************************************************************/

.border-1-black{
    border: 1px solid black;
}

.border-1-gray{
    border: 1px solid lightgrey;
}

.border-1-red{
    border: 1px solid #E12315;
}

.border-1-darkcyan{
    border: 1px solid #0093c4!important;
}

.border-2-lightbalck{
    border: 2px solid #263238;
}

.border-3-darkblue{
    border: 3px solid #0093c4!important;
}

.border-right-1-darkcyan{
    border-right: 1px solid #0093c4;
}

.border-radius-20-px{
    border-radius: 20px;
}

.border-radius-50{
    border-radius: 50%;
}










/******************************************************************
COLOR
*******************************************************************/

.color-white{
    color: #FFFFFF!important;
}

.color-red{
    color: #E12315;
}

.color-darkred{
    color: #E13044;
}

.color-ottanio{
    color: #29353A;
}

.color-black{
    color: #000000;
}

.color-darkcyan{
    color: #0093c4!important;
}

.color-green{
    color: #4BAE5A;
}

.color-darkblue{
    color: #3754AF!important;
}

.color-cyan{
    color: #4fc3f7;
}

.color-orange{
    color: #F76E41!important;
}









/******************************************************************
OTHER
*******************************************************************/

.cursor-pointer{
    cursor: pointer;
}

.outline-none{
    outline: none;
}

.zindex-0{
    z-index: 0!important;
}

.zindex-100{
    z-index: 100!important;
}










/******************************************************************
DISPLAY
*******************************************************************/








/******************************************************************
SHADOW
*******************************************************************/

.box-shadow-40-4-white{
    box-shadow: 0 0 40px 4px #fff;
}







/******************************************************************
BACKGROUND
*******************************************************************/

.background-transparent{
    background-color: transparent;
}

.background-transparent-white{
    background-color: #ffffff5c!important;
}

.background-lightottanio{
    background-color:rgba(120,144,156,0.2);
}

.background-ottanio{
    background-color: #29353A!important;
}

.background-lightblue{
    background-color: #6AB8C3!important;
}

.background-darkcyan{
    background-color: #0093c4!important;
}

.background-white{
    background-color: #FFFFFF!important;
}

.background-green{
    background-color: #4BAE5A!important;
}

.background-red{
    background-color: #E13044!important;
}

.background-lightcyan{
    background-color: #4fc3f7!important;
}













/******************************************************************
POSITION
*******************************************************************/

.float-right{
    float: right;
}

.top-corner{
    position: absolute;
    top: 5px;
    right: 0;
}













/******************************************************************
ELEMENTS
 */
body{
    background-image: url("../img/login-background.jpg");
    background-position: top;
    background-size: cover;
}