#map-div{
    width: 100%;
    height: 100vh;
}

.gmnoprint{
    display: none!important;
}

#open-menu-button{
    background-color: #0093c4;
    position: absolute;
    left: 0;
    top: 15px;
    /*padding: 10px 5px 10px 5px;*/
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 10;
}

#open-menu-icon{
    width: 20px;
    padding: 20px 5px 19px 10px;
}

.home-menu-logo{
    width: 70px;
    height: 70px;
}