
#change-floor-container md-input-container{
    width: 100%;
}

#zoom-location-container md-input-container{
    width: 100%;
}

#change-grid-container .md-subheader-inner{
    padding: 0!important;
}

#change-grid-container .md-track-ticks{
    background-color: lightgray!important;
}

#change-grid-container .md-sign{
    background-color: #0093c4!important;
}

#change-grid-container .md-sign:after{
    border-top-color: #0093c4!important;
}

#change-grid-container .md-thumb:after{
    background-color: #0093c4!important;
    border: 1px solid #0093c4;
}

#grid-on-off-container .md-subheader-inner{
    padding: 0!important;
}

#grid-on-off-container md-switch.md-checked.md-primary .md-bar{
    background-color: #4fc3f7;
}

#grid-on-off-container md-switch.md-checked.md-primary .md-thumb{
    background-color: #0093c4;
}

#fullscreen-on-off-container .md-subheader-inner{
    padding: 0!important;
}

#fullscreen-on-off-container md-switch.md-checked.md-primary .md-bar{
    background-color: #4fc3f7;
}

#fullscreen-on-off-container md-switch.md-checked.md-primary .md-thumb{
    background-color: #0093c4;
}

#anchors-on-off-container .md-subheader-inner{
    padding: 0!important;
}

#anchors-on-off-container md-switch.md-checked.md-primary .md-bar{
    background-color: #4fc3f7;
}

#anchors-on-off-container md-switch.md-checked.md-primary .md-thumb{
    background-color: #0093c4;
}

#outags-on-off-container .md-subheader-inner{
    padding: 0!important;
}

#outags-on-off-container md-switch.md-checked.md-primary .md-bar{
    background-color: #4fc3f7;
}

#outags-on-off-container md-switch.md-checked.md-primary .md-thumb{
    background-color: #0093c4;
}
#zones-on-off-container .md-subheader-inner{
    padding: 0!important;
}

#zones-on-off-container md-switch.md-checked.md-primary .md-bar{
    background-color: #4fc3f7;
}

#zones-on-off-container md-switch.md-checked.md-primary .md-thumb{
    background-color: #0093c4;
}

#cameras-on-off-container md-switch.md-checked.md-primary .md-bar{
    background-color: #4fc3f7;
}

#cameras-on-off-container md-switch.md-checked.md-primary .md-thumb{
    background-color: #0093c4;
}

#cameras-on-off-container .md-subheader-inner{
    padding: 0!important;
}

#drawing-on-off-container md-switch.md-checked.md-primary .md-bar{
    background-color: #4fc3f7;
}

#drawing-on-off-container md-switch.md-checked.md-primary .md-thumb{
    background-color: #0093c4;
}

#sound-on-off-container md-switch.md-checked.md-primary .md-bar{
    background-color: #4fc3f7;
}

#sound-on-off-container md-switch.md-checked.md-primary .md-thumb{
    background-color: #0093c4;
}

#menu-container .md-button:not([disabled]):hover{
    background-color: #8bf6ff30;
}

#menu-container .md-select-value{
    color: #0093c4;
    border-bottom: 1px solid #0093c4;
}

.menu-list-icon{
    width: 15px;
    height: 15px;
}

.home-menu-logo{
    width: 70px;
    height: 70px;
}

.multiple-selection-list-header{
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
}

.search-input{
    width: 100%;
    font-size: large;
    border: none;
    outline: none;
}

