/**
FRAMEWORK
 */
#recoverPassForm md-input-container label{
    color: #FFFFFF!important;
}

#recoverPassForm .md-input{
    color: #FFFFFF;
    border-color: #FFFFFF!important;
}

#recoverPassCodeForm md-input-container label{
    color: #FFFFFF!important;
}

#recoverPassCodeForm .md-input{
    color: #FFFFFF;
    border-color: #FFFFFF!important;
}

/**
CUSTOM CSS
 */
#recoverPassButton{
    margin: 10% 0 0 0;
}

#recoverPassCodeButton{
    margin: 10% 0 0 0;
}
