/**
FRAMEWORK
 */
#recoverPassForm md-input-container label{
    color: #000000!important;
}

#recoverPassForm .md-input{
    color: #000000;
    border-color: #000000!important;
}

#recoverPassCodeForm md-input-container label{
    color: #000000!important;
}

#recoverPassCodeForm .md-input{
    color: #000000;
    border-color: #000000!important;
}

/**
CUSTOM CSS
 */
#recoverPassButton{
    margin: 10% 0 0 0;
}

#recoverPassCodeButton{
    margin: 10% 0 0 0;
}

#recover-pass-container {
    background: #00000014;
    padding: 40px;
    box-shadow: 0 0 110px 30px #00000026;
    border-radius: 20px;
}
#recover-pass-code-container {
    background: #00000014;
    padding: 40px;
    box-shadow: 0 0 110px 30px #00000026;
    border-radius: 20px;
}