/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

a:link {
    color: #ED6C2C;
}

a:visited {
    color: #ED6C2C;
}

a:hover {
    color: white;
}

a:active {
    color: red;
}

body {
	font: 12px/18px Arial, sans-serif;
    background-color: #828282;
	width: 100%;
	height: 100%;
}

.wrapper {
	width: 1200px;
	margin: 20px auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 100px;
	background: #404040;
}

/* Pulsantiera
-----------------------------------------------------------------------------*/
.navigator {
  background: #404040;
  padding-bottom: 3px;
}
       
button,.custom-file-upload {
 outline: none;
 cursor: pointer;
 text-align: center;
 text-decoration: none;
 font: bold 13px Arial, Helvetica, sans-serif;
 color: #fff;
 padding: 10px 10px;
 border: solid 1px #FCBF2F;
 background: #ED6C2C;
 border-radius: 10px;
 background: -webkit-gradient(linear, left top, right bottom, from(#ED6C2C), to(#f1a014));
 background: -webkit-linear-gradient(45deg,  #ED6C2C,  #f1a014);
 background: -moz-linear-gradient(45deg,  #ED6C2C,  #f1a014);
 background: -ms-linear-gradient(45deg,  #ED6C2C,  #f1a014);
 background: -o-linear-gradient(45deg,  #ED6C2C,  #f1a014);
 background: linear-gradient(45deg,  #ED6C2C,  #f1a014);
}

.buttonAlarm {
 outline: none;
 cursor: pointer;
 text-align: center;
 text-decoration: none;
 font: bold 13px Arial, Helvetica, sans-serif;
 color: #fff;
 padding: 10px 10px;
 border: solid 1px #FCBF2F;
 background: red;
 border-radius: 10px;
}

.buttonAlarm:hover {
 outline: none;
 cursor: pointer;
 text-align: center;
 text-decoration: none;
 font: bold 13px Arial, Helvetica, sans-serif;
 color: yellow;
 padding: 10px 10px;
 border: solid 1px #FCBF2F;
 background: red;
 border-radius: 10px;
}

button:hover {
 outline: none;
 cursor: pointer;
 text-align: center;
 text-decoration: none;
 font: bold 13px Arial, Helvetica, sans-serif;
 color: #6AB8C3;
 padding: 10px 10px;
 border: solid 1px #FCBF2F;
 background: #ED6C2C;
 border-radius: 10px;
 background: -webkit-gradient(linear, left top, left bottom, from(#ED6C2C), to(#f1a014));
 background: -webkit-linear-gradient(top,  #ED6C2C,  #f1a014);
 background: -moz-linear-gradient(top,  #ED6C2C,  #f1a014);
 background: -ms-linear-gradient(top,  #ED6C2C,  #f1a014);
 background: -o-linear-gradient(top,  #ED6C2C,  #f1a014);
 background: linear-gradient(top,  #ED6C2C,  #f1a014);
}

.buttonDisabled,.buttonDisabled:hover {
 outline: none;
 cursor: pointer;
 text-align: center;
 text-decoration: none;
 font: bold 12px Arial, Helvetica, sans-serif;
 color: #fff;
 padding: 10px 20px;
 border: solid 1px #707070;
 background: #909090;
 border-radius: 10px;
}

input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
 
input {
    height: 20px;
}

select {
    height: 26px;
}

/* Contenuto
-----------------------------------------------------------------------------*/
.content {
    background-image:url("BkCanvas.jpg");
}

/* Piè di pagina
-----------------------------------------------------------------------------*/
.footer {
	width: 1200px;
	margin: -100px auto 0;
	height: 45px;
	background: #404040;
	position: relative;
    clear:left;
    text-align:center;
    color: white;
    
}

/* Dialog login
-----------------------------------------------------------------------------*/
#DlgLogin {
    visibility:hidden; 
    position: fixed;
    text-align: center;
    background: #dfdfdf;
    width:320px;
    height:330px;
    margin-left:auto;
    left:480px;
    top: 160px;    
    border-style: solid;
    border-width: 1px;
    border-radius:20px;
}

/* Dialog login
-----------------------------------------------------------------------------*/
#DlgShowMessage {
    visibility:hidden; 
    position: fixed;
    text-align: center;
    background: #dfdfdf;
    width:500px;
    height:520px;
    margin-left:auto;
    left:480px;
    top: 40px;    
    border-style: solid;
    border-width: 1px;
    border-radius:20px;
}

#DlgSelectPiano {
    visibility:hidden; 
    position: fixed;
    text-align: center;
    background: #dfdfdf;
    width:320px;
    height:280px;
    margin-left:auto;
    left:480px;
    top: 160px;    
    border-style: solid;
    border-width: 1px;
    border-radius:20px;
}

#DlgTrovaBeacon {
    visibility:hidden; 
    position: fixed;
    text-align: center;
    background: #dfdfdf;
    width:320px;
    height:280px;
    margin-left:auto;
    left:480px;
    top: 160px;    
    border-style: solid;
    border-width: 1px;
    border-radius:20px;
}
#DlgAnagraficaTag {
    visibility:hidden; 
    position: fixed;
    text-align: center;
    background: #dfdfdf;
    width:320px;
    height:330px;
    margin-left:auto;
    left:480px;
    top: 160px;    
    border-style: solid;
    border-width: 1px;
    border-radius:20px;
}

#DlgDimensioni {
    visibility:hidden; 
    position: fixed;
    text-align: center;
    background: #dfdfdf;
    width:320px;
    height:420px;
    margin-left:auto;
    left:480px;
    top: 160px;    
    border-style: solid;
    border-width: 1px;
    border-radius:20px;
}

#DlgAncore {
    visibility: hidden; 
    position: fixed;
    text-align: center;
    background: #dfdfdf;
    width:990px;
    margin-left:auto;
    left:480px;
    top: 30px;    
    border-style: solid;
    border-width: 1px;
    border-radius:20px;
}
#DlgStorico {
    visibility:hidden; 
    position: fixed;
    text-align: center;
    background: #dfdfdf;
    width:800px;
    height:530px;
    margin-left:auto;
    top: 20px;    
    border-style: solid;
    border-width: 1px;
    border-radius:20px;
}

#DlgZone {
    visibility: hidden; 
    position: fixed;
    text-align: center;
    background: #dfdfdf;
    width:470px;
    margin-left:auto;
    left:480px;
    top: 80px;    
    border-style: solid;
    border-width: 1px;
    border-radius:20px;
}

#DlgChangePassword {
    visibility:hidden; 
    position: fixed;
    text-align: center;
    background: #dfdfdf;
    width:320px;
    height:370px;
    left:480px;
    margin: auto;
    top: 160px;    
    border-style: solid;
    border-radius:20px;
    border-width: 1px;
}

/* Dialog errori
-----------------------------------------------------------------------------*/
#DlgLockAll{
    visibility:hidden; 
    position: fixed;
    text-align: center;
    background: #dfdfdf;
    width:320px;
    left:480px;
    top: 160px;    
    margin: auto;
    border-radius:20px;
    border-style: solid;
    border-width: 1px;
}

/* Pannelli
-----------------------------------------------------------------------------*/
#PanelMap {
    height: 600px;
    width: 90%;
    float: left;
}

#PanelDimensioniMappa {
    height: 4%;
    width:100%;
    margin-top:3px;
}


#PanelHeaderComandi {
    height: 4%;
    width:100%;
    margin-top:3px;
}

#PanelCursorPosition {
    height: 4%;
    width:100%;
    margin-top:3px;
    margin-bottom: 3px;
}

#PanelFooterCmd {
    height: 4%;
    width:100%;
    margin-top:3px;
    margin-bottom: 3px;
}

#PanelButton {
    height: 91%;
}

#PanelCntMap {
    height: 91%;
}

.SidePanel{
    height: 600px;
    text-align: center;
}
/* Altre impostazioni varie
-----------------------------------------------------------------------------*/
.Titoli {
    background:blue;
    color:white;
    font-weight:bold;
}

.TitoliErrore{
    background:red;
    color:white;
    font-weight:bold;
}

.MeterLabel {
    width: 50px;
    text-align: right;
    background: #dfdfdf;
    float: left;
}

.ButtonConfAnnulla{
    width:100px;
}