<div ng-controller="languageController">
    <!--popup header-->
    <md-toolbar id="popup-toolbar" ng-class="isAnchorOnline">
        <div layout="row" layout-align="end center" class="width-100">
            <md-button class="md-icon-button margin-none" ng-click="hide()">
                <img src="img/icons/close-icon.png" aria-label="Close dialog" alt="{{lang.closeButton}}" title="{{lang.closeButton}}"/>
            </md-button>
        </div>

        <div layout="row" layout-align="center center" class="margin-top--20-px">
            <img src="img/icons/login-icon.png" class="popup-icon" alt="Smart Track" title="Smart Track">
        </div>

        <div layout="column">
            <div layout="row" layout-align="center center" class="">
                <h1 class=" font-iceberg font-x-large">{{anchor.name}}</h1>
            </div>
        </div>
    </md-toolbar>
    <!--end popup header-->

    <!--popup content-->
    <md-content class="popup-padding">
        <div layout="column" layout-align="center center">
            <md-list>
                <md-list-item class="width-300-px">
                    <p class="float-left margin-right-50-px">{{lang.ip}}:</p>
                    <p class="float-right text-right">{{anchor.ip}}</p>
                </md-list-item>
                <md-list-item class="width-300-px">
                    <p class="float-left">{{lang.buildingName}}:</p>
                    <p class="float-right text-right">{{anchor.location_name}}</p>
                </md-list-item>
                <md-list-item class="width-300-px">
                    <p class="float-left">{{lang.mac}}:</p>
                    <p class="float-right text-right">{{anchor.mac}}</p>
                </md-list-item>
                <md-list-item class="width-300-px">
                    <p class="float-left">{{lang.type}}:</p>
                    <p class="float-right text-right">{{anchor.type}}</p>
                </md-list-item>
                <md-list-item class="width-300-px">
                    <p class="float-left">{{lang.rssi}}:</p>
                    <p class="float-right text-right">{{anchor.rssi}}</p>
                </md-list-item>

            </md-list>
        </div>
    </md-content>
    <!--end popup content-->
</div>
