<div ng-controller="languageController">
    <!--popup header-->
    <md-toolbar id="popup-toolbar" ng-class="changePassword.resultClass">

        <div layout="row" layout-align="end center" class="width-100">
            <md-button class="md-icon-button margin-none" ng-click="hide()">
                <img src="img/icons/close-icon.png" aria-label="{{lang.closeButton}}" alt="{{lang.closeButton}}" title="{{lang.closeButton}}"/>
            </md-button>
        </div>

        <div layout="row" layout-align="center center" class="margin-top--20-px">
            <img src="img/icons/login-icon.png" class="popup-icon" alt="Smart Track" title="Smart Track">
        </div>

        <div layout="column">
            <div layout="row" layout-align="center center" class="">
                <h1 class=" font-iceberg font-x-large">{{lang.changePassword | uppercase}}</h1>
            </div>
        </div>
    </md-toolbar>
    <!--end popup header-->

    <!--popup content-->
    <md-content class="popup-padding">

        <div layout="column" layout-align="center center">

            <form id="changePasswordForm" name="changePasswordForm" class="width-300-px">
                <md-input-container md-no-float class="md-block width-100 margin-bottom-0">
                    <input required type="password" ng-model="changePassword.oldPassword" name="oldPassword"
                           placeholder="{{lang.oldPassword}}">
                    <div ng-messages="changePasswordForm.oldPassword.$error || changePasswordForm.$submitted"
                         role="alert">
                        <div ng-message=" required">{{lang.insertOldPassword}}</div>
                    </div>
                </md-input-container>

                <md-input-container md-no-float class="md-block width-100 margin-bottom-0">
                    <input required type="password" ng-model="changePassword.newPassword" name="newPassword"
                           placeholder="{{lang.newPassword}}">
                    <div ng-messages="changePasswordForm.newPassword.$error || changePasswordForm.$submitted"
                         role="alert">
                        <div ng-message=" required">{{lang.insertNewPassword}}</div>
                    </div>
                </md-input-container>

                <md-input-container md-no-float class="md-block width-100 margin-bottom-0">
                    <input required type="password" ng-model="changePassword.reNewPassword" name="reNewPassword"
                           placeholder="{{lang.reinsertNewPassword}}">
                    <div ng-messages="changePasswordForm.reNewPassword.$error || changePasswordForm.$submitted"
                         role="alert">
                        <div ng-message=" required">{{lang.reinsertNewPassword}}</div>
                    </div>
                </md-input-container>

                <div class="background-transparent-white text-center color-green font-medium margint-top-5-px margin-bottom-10-px padding-10-px"
                     ng-show="changePassword.showSuccess">
                    {{changePassword.message}}
                </div>

                <div class="background-transparent-white text-center color-red font-medium margint-top-5-px margin-bottom-10-px padding-10-px"
                     ng-show="changePassword.showError">
                    {{changePassword.message}}
                </div>

                <div layout="column" layout-align="center center">
                    <md-button ng-click="sendPassword(changePasswordForm)"
                               class="md-raised background-darkcyan color-white">{{lang.changePassword}}
                    </md-button>
                </div>
            </form>
        </div>
    </md-content>
    <!--end popup content-->
</div>