<div>
    <!--popup header-->
    <md-toolbar id="popup-toolbar" ng-class="registry.resultClass">
        <div layout="row" layout-align="end center" class="width-100">
            <md-button class="md-icon-button margin-none" ng-click="hide()">
                <img src="../img/close-icon.png" aria-label="Close dialog" alt="Close" title="Close"/>
            </md-button>
        </div>
        <div layout="row" layout-align="center center" class="margin-top--20-px">
            <img src="../img/login-icon.png" class="popup-icon" alt="Smart Track" title="Smart Track">
        </div>
        <div layout="column">
            <div layout="row" layout-align="center center" class="">
                <h1 class=" font-iceberg font-x-large">AGGIORNAMENTO WETAG</h1>
            </div>
        </div>
    </md-toolbar>
    <!--end popup header-->

    <!--popup content-->
    <md-content class="popup-padding">
        <div layout="column" layout-align="center center">
            <form id="changeRegistryForm" name="changeRegistryForm">
                <md-select placeholder="Seleziona WeTag..." ng-model="registry.tag" class="width-100" required="">
                    <md-option value="{{tag.id}}" ng-repeat="tag in registry.tags">{{tag.id}}</md-option>
                </md-select>

                <md-input-container md-no-float class="md-block width-100 margin-bottom-0">
                    <input required type="text" ng-model="registry.name" name="registryName" placeholder="Inserisci nuovo nome">
                    <div ng-messages="changeRegistryForm.registryName.$error || changeRegistryForm.$submitted" role="alert">
                        <div ng-message=" required">Inserire un nome</div>
                    </div>
                </md-input-container>

                <div class="background-transparent-white text-center color-green font-medium margint-top-5-px margin-bottom-10-px padding-10-px"
                     ng-show="registry.resultOk">
                    Nome aggiornato con successo!
                </div>
                <div class="background-transparent-white text-center color-red font-medium margint-top-5-px margin-bottom-10-px padding-10-px"
                     ng-show="registry.resultError">
                    Inserire un nome diverso per il WeTag.
                </div>
                <div layout="column" layout-align="center center">
                    <md-button ng-click="changeTagName(changeRegistryForm)" class="md-warn color-darkblue">INVIA</md-button>
                </div>
            </form>
        </div>
    </md-content>
    <!--end popup content-->
</div>