<div ng-controller="languageController">
    <!--popup header-->
    <md-toolbar id="popup-toolbar" class="background-red">
        <div layout="row" layout-align="end center" class="width-100">
            <md-button class="md-icon-button margin-none" ng-click="hide()">
                <img src="img/icons/close-icon.png" aria-label="{{lang.closeButton}}" alt="{{lang.closeButton}}" title="{{lang.closeButton}}"/>
            </md-button>
        </div>

        <div layout="row" layout-align="center center" class="margin-top--20-px">
            <img src="img/icons/login-icon.png" class="popup-icon" alt="Smart Track" title="Smart Track">
        </div>

        <div layout="column">
            <div layout="row" layout-align="center center" class="">
                <h1 class=" font-iceberg font-x-large">{{lang.evacuationState | uppercase}}</h1>
            </div>
        </div>
    </md-toolbar>
    <!--end popup header-->

    <!--popup content-->
    <md-content class="popup-padding">
        <div layout="row" layout-align="center center">
            <div layout="column">
                <md-progress-circular ng-show="data.length === 0" md-diameter="100"
                                      md-mode="indeterminate"></md-progress-circular>
                <canvas ng-show="data.length !== 0" class="chart chart-doughnut"
                        chart-data="data" chart-labels="labels" chart-colors="colors">
                </canvas>
            </div>
            <div layout="column">
                <md-list>
                    <md-list-item class="md-3-line">
                        <img src="img/icons/safe-men.png" class="md-avatar" alt="{{lang.safeAreaPersons}}"
                             title="{{lang.safeAreaPersons}}">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{lang.safeAreaPersons}}: <b class="color-green">{{ men.safe }}</b></h3>
                            <h4>{{ men.safe }} {{lang.safeAreaPersons | lowercase}}</h4>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-3-line">
                        <img src="img/icons/unsafe-men.png" class="md-avatar"
                             alt="{{lang.notSafeAreaPersons}}" title="{{lang.notSafeAreaPersons}}">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{lang.notSafeAreaPersons}}: <b class="color-red">{{ men.unsafe }}</b></h3>
                            <h4>{{ men.unsafe }} {{lang.notSafeAreaPersons | lowercase}}</h4>
                            <md-select ng-if="unsafeTags.length > 0" ng-model="antani" placeholder="Persone disperse">
                                <md-option ng-value="tag" ng-disabled="$index + 1" ng-repeat="tag in unsafeTags">{{tag.name}}</md-option>
                            </md-select>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </md-content>
    <!--end popup content-->
</div>