<div ng-controller="languageController">
    <!--popup header-->
    <md-toolbar id="popup-toolbar">
        <div layout="row" layout-align="end center" class="width-100">
            <md-button class="md-icon-button margin-none" ng-click="hide()">
                <img src="img/icons/close-icon.png" aria-label="{{lang.closeButton}}" alt="{{lang.closeButton}}"
                     title="{{lang.closeButton}}"/>
            </md-button>
        </div>

        <div layout="row" layout-align="center center" class="margin-top--20-px">
            <img src="img/icons/login-icon.png" class="popup-icon" alt="Smart Track" title="Smart Track">
        </div>

        <div layout="column">
            <div layout="row" layout-align="center center" class="">
                <h1 class=" font-iceberg color-white font-x-large">{{lang.floors | uppercase}}</h1>
            </div>
        </div>
    </md-toolbar>
</div>
<!--end popup header-->

<!--popup content-->
<md-content class="popup-padding padding-bottom-70px">
    <div layout="column" layout-align="center center" ng-controller="languageController">

        <md-table-container class="overflow-x-none">

            <table md-table md-row-select="options.rowSelection" multiple="true" ng-model="selected"
                   md-progress="promise">

                <thead md-head md-order="query.order">
                <tr md-row>
                    <!--<th md-column ><span>id</span></th>-->
                    <th md-column md-order-by="name"><span class="color-darkcyan">{{lang.name | uppercase}}</span></th>
                    <th md-column md-order-by="width"><span
                            class="color-darkcyan">{{lang.lengthValue | uppercase}}</span></th>
                    <th md-column md-order-by="map_spacing"><span
                            class="color-darkcyan">{{lang.spacing | uppercase}}</span></th>
                </tr>
                </thead>

                <tbody md-body>
                <tr md-row md-select="floor" md-on-select="logItem" md-auto-select="true"
                    ng-repeat="floor in floors | orderBy: query.order | limitTo: query.limit: (query.page -1 ) * query.limit">
                    <td md-cell ng-click="editCell($event, floor, 'name')"
                        ng-class="{'md-placeholder': !floor.name}">{{floor.name || lang.insertName}}
                    </td>
                    <td md-cell ng-click="editCell($event, floor, 'map_width')"
                        ng-class="{'md-placeholder': !floor.width}">{{floor.width || lang.insertLength}}
                    </td>
                    <td md-cell ng-click="editCell($event, floor, 'map_spacing')"
                        ng-class="{'md-placeholder': !floor.map_spacing}">{{floor.map_spacing || lang.insertSpacing}}
                    </td>
                    <td md-cell ng-if="isAdmin" ng-click="deleteRow(floor)"><img src="img/icons/delete_trash_24.png"
                                                                                 alt="{{lang.deleteFloor}}"
                                                                                 title="{{lang.deleteFloor}}">
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-input-container
                class="md-block position-fixed bottom-0 margin-none margin-bottom-23-px zindex-100 left-0 margin-bottom-50-px margin-top-0"
                md-no-float ng-if="isAdmin">
            <div class="width-120-px" layout="row" layout-align="center end">
                <img src="img/icons/add_row_32.png" class="outline-none cursor-pointer"
                     ng-click="addNewRow()" alt="{{lang.addFloor}}" title="{{lang.addFloor}}">
            </div>
        </md-input-container>

        <md-table-pagination
                class="color-red background-white position-fixed bottom-0 margin-bottom-15-px width-100 padding-0 padding-right-24-px"
                md-limit="query.limit" md-limit-options="query.limitOptions"
                md-page="query.page"
                md-total="{{floors.length}}" md-on-paginate="getFloorsfloor()">
        </md-table-pagination>
    </div>
</md-content>
<!--end popup content-->
