<div ng-controller="languageController">
    <!--popup header-->
    <md-toolbar id="popup-toolbar" class="background-red">
        <div layout="row" layout-align="end center" class="width-100">
            <md-button class="md-icon-button margin-none" ng-click="hide()">
                <img src="img/icons/close-icon.png" aria-label="{{lang.closeButton}}" alt="{{lang.closeButton}}"
                     title="{{lang.closeButton}}"/>
            </md-button>
        </div>

        <div layout="row" layout-align="center center" class="margin-top--20-px height-60px">
            <img src="img/icons/login-icon-inner.png" class="home-menu-logo top-20px position-absolute"
                 alt="Smart Track" title="Smart Track">
            <img src="img/icons/login-icon-middle-inner.png" class="home-menu-logo spin-logo-right-2s top-20px"
                 alt="Smart Track" title="Smart Track">
            <img src="img/icons/login-icon-middle-outer.png" class="home-menu-logo spin-logo-left-3s top-20px"
                 alt="Smart Track" title="Smart Track">
            <img src="img/icons/login-icon-outer.png" class="home-menu-logo spin-logo-right top-20px"
                 alt="Smart Track" title="Smart Track">
        </div>

        <div layout="column">
            <div layout="row" layout-align="center center" class="">
                <h1 class="font-iceberg color-white font-x-large">{{lang.fullZones | uppercase}}</h1>
            </div>
        </div>
    </md-toolbar>
</div>
<!--end popup header-->


<!--popup content-->
<md-content class="popup-padding">
    <div layout="column" layout-align="center center" ng-controller="languageController">

        <md-table-container class="margin-bottom-40-px">

            <table md-table md-row-select="options.rowSelection" ng-model="selected"
                   md-progress="promise">

                <thead md-head md-order="query.order">
                    <tr md-row>
                        <th md-column md-order-by="zone"><span class="color-darkcyan">{{lang.zoneName | uppercase}}</span></th>
                        <th md-column md-order-by="zone"><span class="color-darkcyan">{{lang.anchorName | uppercase}}</span></th>
                        <th md-column md-order-by="zone"><span class="color-darkcyan">{{lang.inCount | uppercase}}</span></th>
                        <th md-column md-order-by="zone"><span class="color-darkcyan">{{lang.outCount | uppercase}}</span></th>
                        <th md-column md-order-by="zone"><span class="color-darkcyan">{{lang.insideVsMax | uppercase}}</span></th>
                    </tr>
                </thead>

                <tbody md-body>
                    <tr md-row ng-repeat="zone in fullZones | orderBy: query.order | limitTo: query.limit: (query.page -1 ) * query.limit">
                        <td md-cell>{{zone.name}}</td>
                        <td md-cell>{{zone.anchor}}</td>
                        <td md-cell>{{zone.in_count}}</td>
                        <td md-cell>{{zone.out_count}}</td>
                        <td md-cell>{{zone.inside}}/{{zone.max_people}}</td>
                    </tr>
                    <tr md-row ng-show="tableEmpty">
                        <td md-cell colspan="3" class="text-center color-red">{{lang.noResultFound}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-table-pagination class="color-red background-white position-fixed bottom-0 width-100" md-limit="query.limit" md-limit-options="query.limitOptions"
                             md-page="query.page"
                             md-total="{{fullZones.length}}" md-on-paginate="">
        </md-table-pagination>
    </div>
</md-content>
<!--end popup content-->
