<div>
    <!--popup header-->
    <md-toolbar id="popup-toolbar" ng-class="">
        <div layout="row" layout-align="end center" class="width-100">
            <md-button class="md-icon-button margin-none" ng-click="hide()">
                <img src="../img/icons/close-icon.png" aria-label="Close dialog" alt="Close" title="Close"/>
            </md-button>
        </div>

        <div layout="row" layout-align="center center" class="margin-top--20-px">
            <img src="../img/icons/login-icon.png" class="popup-icon" alt="Smart Track" title="Smart Track">
        </div>

        <div layout="column">
            <div layout="row" layout-align="center center" class="">
                <h1 class=" font-iceberg font-x-large">STORICO EVENTI</h1>
            </div>
        </div>
    </md-toolbar>
    <!--end popup header-->

    <!--popup content-->
    <md-content class="popup-padding">
        <div layout="column" layout-align="center center">
            <div class="border-1-gray history-filter">
                <div layout="column" layout-align="center start">
                    <md-subheader class="color-darkcyan">Filtro: </md-subheader>
                </div>

                <div layout="row">
                    <md-subheader>Dal: </md-subheader>
                    <md-datepicker ng-model="history.fromDate" md-placeholder="Selezionare data" md-open-on-focus></md-datepicker>
                    <md-subheader>al: </md-subheader>
                    <md-datepicker ng-model="history.toDate" md-placeholder="Selezionare data" md-open-on-focus></md-datepicker>
                </div>
                <div layout="row" class="width-100">
                    <div layout="column" layout-align="center start" class="width-50 padding-left-10-px">
                        <md-input-container class="margin-bottom-0 margin-top-10">

                            <label>Nome WeTag</label>

                            <md-select ng-model="history.selectedTag">

                                <md-option ng-repeat="tag in history.tags" ng-value="tag.name">
                                    {{tag.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="column" layout-align="center end" class="width-50">
                        <md-input-container class="margin-bottom-0 margin-top-10">

                            <label>Tipologia evento</label>

                            <md-select ng-model="history.selectedEvent">
                                <md-option ng-repeat="event in history.events" ng-value="event.description">
                                    {{event.description}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div layout="column">
                <md-table-container>

                    <table md-table>

                        <thead md-head md-order="query.order">
                        <tr md-row>
                            <th md-column ><span>Data</span></th>
                            <th md-column ><span>Evento</span></th>
                            <th md-column md-numeric><span>Tag</span></th>
                            <th md-column md-numeric><span>Ancora</span></th>
                            <th md-column md-numeric><span>Coordinate x</span></th>
                            <th md-column md-numeric><span>Coordinate y</span></th>

                        </tr>
                        </thead>

                        <tbody md-body>
                            <tr md-row md-select="anchor" md-on-select="logItem" md-auto-select="true" ng-repeat="row in historyRows | limitTo: query.limit: (query.page -1 ) * query.limit">
                                <td md-cell>{{row.time}}</td>
                                <td md-cell ng-class="{'md-placeholder': !row.event}">{{row.event || 'Dato non disponibile'}}</td>
                                <td md-cell ng-class="{'md-placeholder': !row.tag}">{{row.tag || 'Dato non disponibile'}}</td>
                                <td md-cell ng-class="{'md-placeholder': !row.anchor}">{{row.anchor || 'Dato non disponibile'}}</td>
                                <td md-cell ng-class="{'md-placeholder': !row.tag_x_pos}">{{row.tag_x_pos || 'Dato non disponibile'}}</td>
                                <td md-cell ng-class="{'md-placeholder': !row.tag_y_pos}">{{row.tag_y_pos || 'Dato non disponibile'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <md-table-pagination md-limit="query.limit" md-limit-options="query.limitOptions" md-page="query.page" md-total="{{historyRows.length}}" md-on-paginate=""></md-table-pagination>
            </div>
        </div>
    </md-content>
    <!--end popup content-->
</div>