<div ng-controller="languageController">
    <div layout="column" layout-align="center center" layout-wrap class="height-100-vh">
        <!--map container-->
        <div id="map-div">
            <div layout="column" class="top-corner">
                <div layout="column" class="background-transparent-gray">
                    <img ng-show="homeCtrl.showAlarmsIcon" ng-click="homeCtrl.showAlarmsHome()" class="pulse-image margin-bottom-5-px padding-top-bottom-6px width-40px"
                         src="img/icons/alarm-icon.png" alt="{{lang.activeAllarms}}" title="{{lang.activeAllarms}}">
                    <img ng-show="homeCtrl.showOfflineTagsIcon" ng-click="homeCtrl.showOfflineTagsHome()"
                         class="margin-bottom-5-px padding-top-bottom-6px border-bottom-3-white border-top-3-white width-40px" src="img/icons/offline_tags_alert_64.png"
                         alt="{{lang.offlineTags}}" title="{{lang.offlineTags}}">
                    <img ng-show="homeCtrl.showOfflineAnchorsIcon" ng-click="homeCtrl.showOfflineAnchorsHome()" class="margin-bottom-5-px padding-top-bottom-6px width-40px border-bottom-3-white"
                         src="img/icons/offline_anchors_alert_64.png" alt="{{lang.offlineAnchors}}"
                         title="{{lang.offlineAnchors}}">
                    <img ng-show="!homeCtrl.socketOpened" class="padding-top-bottom-6px border-bottom-3-white width-40px"
                         src="img/icons/socket-down.ico" alt="{{lang.engineOff}}"
                         title="{{lang.engineOff}}">
                    <img ng-show="homeCtrl.showEngineOffIcon" class="padding-top-bottom-6px width-40px spin-logo-right-no-absolute"
                         src="img/icons/engine_off_64.png" alt="{{lang.engineOff}}"
                         title="{{lang.engineOff}}">
                </div>
                <div ng-if="homeCtrl.showAlarmsIcon || homeCtrl.showOfflineTagsIcons || homeCtrl.showOfflineAnchorsIcon || homeCtrl.showEngineOffIcon" class="triangle-transparent-gray-down"></div>
            </div>
            <ng-map id="main-map" ng-init="homeCtrl.markerClicked()" center="{{mapConfiguration.center}}"
                    zoom="{{mapConfiguration.zoom}}" mape-type-id="{{mapConfiguration.map_type}}" class="height-100-vh">

                <custom-marker ng-repeat="marker in homeCtrl.positions"
                               on-click="homeCtrl.markerClicked()"
                               id="custom-marker-{{$index}}"
                               position="{{marker.position}}">
                    <div>
                        <img ng-src="img/markers-images/{{marker.icon}}" alt="{{marker.name}}"
                             title="{{marker.name}}">
                    </div>
                </custom-marker>
            </ng-map>
        </div>
        <!--end map container-->

        <!--menu container-->
        <div flex="100" ng-controller="menuController">

            <div id="open-menu-button" ng-click="toggleLeft()" class="margin-left--8-px cursor-pointer outline-none">
                <img id="open-menu-icon" src="img/icons/menu-arrow.png" alt="{{lang.openMenu}}" title="{{lang.openMenu}}">
            </div>
            <section layout="row" flex>

                <md-sidenav id="menu-panel" class="md-sidenav-left" md-component-id="left"
                            md-whiteframe="4">

                    <md-toolbar class="background-darkcyan" layout="row" layout-align="center center">
                        <h1 class="md-toolbar-tools text-bold color-black">MENU</h1>
                        <div ng-click="toggleLeft()" class="margin-right-10-px cursor-pointer outline-none">
                            <img src="img/icons/menu/close-menu.png" alt="{{lang.closeButton}}" title="{{lang.closeButton}}">
                        </div>
                    </md-toolbar>

                    <md-content layout-margin class="margin-top-10">

                        <div layout="column" layout-align="center center" class=" height-150px align-item-none">
                            <img src="img/icons/login-icon-inner.png" class="home-menu-logo top-0 position-absolute"
                                 alt="Smart Track" title="Smart Track">
                            <img src="img/icons/login-icon-middle-inner.png" class="home-menu-logo spin-logo-right-2s top-0"
                                 alt="Smart Track" title="Smart Track">
                            <img src="img/icons/login-icon-middle-outer.png" class="home-menu-logo spin-logo-left-3s top-0"
                                 alt="Smart Track" title="Smart Track">
                            <img src="img/icons/login-icon-outer.png" class="home-menu-logo spin-logo-right top-0"
                                 alt="Smart Track" title="Smart Track">
                            <h1 class="font-iceberg color-ottanio position-absolute top-60px">SMART STUDIO</h1>
                        </div>

                        <div layout="column" id="menu-container" class="margin-bottom-30-px">
                            <md-list>
                                <md-list-item ng-show="homeCtrl.isAdmin || homeCtrl.isUserManager" ng-click="openLocations()" class="font-smal"><p>{{lang.sitesTable | uppercase}}
                                </p><img src="img/icons/menu/add-location.ico"
                                         class="menu-list-icon menu-icon" alt=""></md-list-item>
                                <md-list-item ng-show="homeCtrl.isUserManager" ng-click="openUserManager()" class="font-smal"><p>{{lang.userManager | uppercase}}
                                </p><img src="img/icons/menu/user-manager-icon.ico"
                                         class="menu-list-icon menu-icon" alt=""></md-list-item>
                                <md-list-item ng-show="homeCtrl.isAdmin" ng-click="openSuperuserManager()" class="font-smal"><p>{{lang.userManager | uppercase}}
                                </p><img src="img/icons/menu/user-manager-icon.ico"
                                         class="menu-list-icon menu-icon" alt=""></md-list-item>
                                <md-list-item ng-click="registry('home')" class="font-smal"><p>{{lang.weTagTable | uppercase}}</p><img
                                        src="img/icons/menu/anagrafica-icon.ico" class="menu-list-icon menu-icon"
                                        alt=""></md-list-item>
                                <md-list-item ng-show="homeCtrl.isAdmin" ng-click="tagCategories('home')" class="font-smal"><p>{{lang.tagCategory | uppercase}}</p><img
                                        src="img/icons/menu/tag-category.ico" class="menu-list-icon menu-icon"
                                        alt=""></md-list-item>
                                <md-list-item ng-show="homeCtrl.isAdmin" ng-click="safetyBox('home')" class="font-smal"><p>{{lang.safetyBox | uppercase}}</p><img
                                        src="img/icons/menu/safety-box.ico" class="menu-list-icon menu-icon"
                                        alt=""></md-list-item>
                                <md-list-item ng-click="viewHistory('home')" class="font-smal"><p>{{lang.history | uppercase}}</p><img
                                        src="img/icons/menu/history-icon.ico" class="menu-list-icon menu-icon"
                                        alt=""></md-list-item>
                                <md-list-item ng-show="homeCtrl.isAdmin" ng-click="viewTracking('home')" class="font-smal"><p>{{lang.tracking | uppercase}}</p><img
                                        src="img/icons/menu/tracking-icon.ico" class="menu-list-icon menu-icon"
                                        alt=""></md-list-item>
                                <md-list-item ng-show="true" ng-click="viewVersions()" class="font-smal"><p>{{lang.versions | uppercase}}</p><img
                                        src="img/icons/menu/version-icon.ico" class="menu-list-icon menu-icon"
                                        alt=""></md-list-item>
                                <md-list-item ng-click="quickActions()" class="font-smal"><p>{{lang.quickActions | uppercase}}</p><img
                                        src="img/icons/menu/quick-actions.ico" class="menu-list-icon menu-icon"
                                        alt=""></md-list-item>
                                <md-list-item ng-click="showLegend()" class="font-smal"><p>{{lang.legend | uppercase}}</p><img
                                        src="img/icons/menu/legend-icon.ico" class="menu-list-icon menu-icon"
                                        alt=""></md-list-item>
                                <md-list-item ng-click="changePassword()" class="font-smal"><p>{{lang.changePassword | uppercase}}</p><img
                                        src="img/icons/menu/password-icon.ico" class="menu-list-icon menu-icon"
                                        alt=""></md-list-item>
                                <md-list-item ng-click="logout()" class="font-smal"><p class="color-red">{{lang.logout | uppercase}}</p><img
                                        src="img/icons/menu/logout-icon.ico" class="menu-list-icon menu-icon"
                                        alt=""></md-list-item>
                            </md-list>

                            <div ng-show="isAdmin" id="change-floor-container" layout="column" class="padding-10-px"
                                 layout-align="center center">

                                <md-input-container class="margin-bottom-0 margin-top-10">
                                    <label>{{lang.searchWetag}}</label>
                                    <md-select ng-model="selectedTag"  md-on-open="getAllWetags()">

                                        <md-option ng-repeat="tag in menuTags" ng-value="tag.name">
                                            {{tag.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div id="zoom-location-container" layout="column" class="padding-10-px"
                                 layout-align="center center">

                                <md-input-container class="margin-bottom-0 margin-top-10">
                                    <label>{{lang.searchLocation}}</label>
                                    <md-select ng-model="selectedLocation" md-on-open="getUserLocations()">

                                        <md-option ng-repeat="location in locations" ng-value="location">
                                            {{location.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div layout="row" layout-align="center center" class="width-300-px">

                                <div id="fullscreen-on-off-container" layout="column" class="padding-10-px width-50"
                                     layout-align="center center">

                                    <div flex="100" layout layout-align="center center">
                                        <md-subheader class="padding-0" ng-show="switch.mapFullscreen">{{lang.fullscreen}}:
                                            <b class="color-green">ON</b></md-subheader>
                                        <md-subheader class="padding-0"ng-show="!switch.mapFullscreen">{{lang.fullscreen}}:
                                            <b class="color-red">OFF</b>
                                        </md-subheader>
                                    </div>

                                    <md-switch class="md-primary margin-none margin-top-10-px"
                                               md-no-ink aria-label="{{lang.showHideFullscreen}}" title="{{lang.showHideFullscreen}}"
                                               ng-model="switch.mapFullscreen">
                                    </md-switch>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-sidenav>
            </section>
            <div ng-show="ctrlDataService.playAlarm" layout="column" layout-align="center center" class="fadeIn mute-alarms">
                <md-button ng-click="muteAlarms()" ng-class="alertButtonColor" class="md-raised color-white margin-none"><div><span class="margin-right-10-px text-bold">{{lang.muteAlarm}}</span><img class="vertical-align-middle" src="img/icons/mute_alarms.png" alt=""></div></md-button>
            </div>
        </div>
        <!--end menu container-->
    </div>
</div>
