<div ng-controller="languageController">
    <!--popup header-->
    <md-toolbar id="popup-toolbar" class="background-red">
        <div layout="row" layout-align="end center" class="width-100">
            <md-button class="md-icon-button margin-none" ng-click="hide()">
                <img src="img/icons/close-icon.png" aria-label="{{lang.closeButton}}" alt="{{lang.closeButton}}"
                     title="{{lang.closeButton}}"/>
            </md-button>
        </div>

        <div layout="row" layout-align="center center" class="margin-top--20-px">
            <img src="img/icons/login-icon.png" class="popup-icon" alt="Smart Track" title="Smart Track">
        </div>

        <div layout="column">
            <div layout="row" layout-align="center center" class="">
                <h1 class=" font-iceberg font-x-large">{{lang.activeAllarms | uppercase}}</h1>
            </div>
        </div>
    </md-toolbar>
</div>
<!--end popup header-->


<!--popup content-->
<md-content class="popup-padding">
    <div layout="column" layout-align="center center" ng-controller="languageController">

        <md-table-container class="margin-bottom-40-px">

            <table md-table md-row-select="options.rowSelection" ng-model="selected"
                   md-progress="promise">

                <thead md-head md-order="query.order">
                <tr md-row>
                    <th md-column><span class="color-darkcyan"></span></th>
                    <th md-column md-order-by="tag"><span class="color-darkcyan">{{lang.tag | uppercase}}</span></th>
                    <th md-column md-order-by="name"><span class="color-darkcyan">{{lang.name | uppercase}}</span></th>
                    <th md-column md-order-by="description"><span class="color-darkcyan">{{lang.description | uppercase}}</span>
                    </th>
                    <th md-column md-order-by="location"><span
                            class="color-darkcyan">{{lang.location | uppercase}}</span></th>
                    <th md-column><span class="color-darkcyan"></span></th>
                </tr>
                </thead>

                <tbody md-body>
                <tr ng-hide="alarm.name === 'Tag fuori sito' && !outlocationTags" md-row md-select="anchor"
                    md-on-select="logItem" md-auto-select="true"
                    ng-repeat="alarm in alarms | orderBy: query.order | limitTo: query.limit: (query.page -1 ) * query.limit">
                    <td md-cell><img ng-src="{{alarm.image}}" class="md-avatar" alt="{{alarm.name}}"
                                     title="{{alarm.name}}"/>
                    </td>
                    <td md-cell class="no-wrap">{{alarm.tag}}</td>
                    <td md-cell class="no-wrap">{{alarm.name}}</td>
                    <td md-cell class="no-wrap">{{alarm.description}}</td>
                    <td md-cell class="no-wrap">{{alarm.location}}</td>
                    <td md-cell class="no-wrap">
                        <md-button
                                ng-click="loadLocation(alarm.tagId)"
                                class="md-raised background-darkcyan color-white">
                            {{lang.openSite | uppercase}}
                        </md-button>
                    </td>
                </tr>
                <tr md-row ng-show="tableEmpty">
                    <td md-cell colspan="13" class="text-center color-red">{{lang.noResultFound}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-table-pagination class="color-red background-white position-fixed bottom-0 width-100" md-limit="query.limit" md-limit-options="query.limitOptions"
                             md-page="query.page"
                             md-total="{{alarms.length}}" md-on-paginate="">
        </md-table-pagination>
    </div>
</md-content>
<!--end popup content-->
