<div ng-controller="languageController">
    <!--popup header-->
    <md-toolbar id="popup-toolbar" class="background-red">
        <div layout="row" layout-align="end center" class="width-100">
            <md-button class="md-icon-button margin-none" ng-click="hide()">
                <img src="img/icons/close-icon.png" aria-label="{{lang.closeButton}}" alt="{{lang.closeButton}}" title="{{lang.closeButton}}"/>
            </md-button>
        </div>

        <div layout="row" layout-align="center center" class="margin-top--20-px">
            <img src="img/icons/login-icon.png" class="popup-icon" alt="Smart Track" title="Smart Track">
        </div>

        <div layout="column">
            <div layout="row" layout-align="center center" class="">
                <h1 class=" font-iceberg font-x-large">{{lang.wetagState | uppercase}}</h1>
            </div>
        </div>
    </md-toolbar>
</div>
<!--end popup header-->

<!--popup content-->
<md-content class="popup-padding">
    <div layout="row" layout-align="center center" ng-controller="languageController">
        <div layout="column">
            <md-progress-circular ng-show="data.length === 0" md-diameter="100" md-mode="indeterminate"
                                  class="margin-left-right-50-px"></md-progress-circular>
            <canvas ng-show="data.length !== 0" class="chart chart-doughnut"
                    chart-data="data" chart-labels="labels" chart-colors="colors">
            </canvas>
        </div>
        <div layout="column">
            <md-list>
                <md-list-item class="md-2-line">
                    <img src="img/icons/tags/online_tag_24.png" class="md-avatar" alt="{{lang.onlineTags}}"
                         title="{{lang.onlineTags}}">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{lang.onlineTags}}: <b class="color-green">{{tagsStateIndoor.online}}</b></h3>
                        <h4>{{ tagsStateIndoor.online }} {{lang.areOnlineTags | lowercase}}</h4>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line">
                    <img src="img/icons/tags/offline_tag_24.png" class="md-avatar" alt="{{lang.offlineTags}}"
                         title="{{lang.offlineTags}}">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{lang.offlineTags}}: <b class="color-darkgray">{{ offlineTagsIndoor.length }}</b></h3>
                        <h4>{{ offlineTagsIndoor.length }} {{lang.areOfflineTags | lowercase}}</h4>
                        <md-select ng-if="offlineTagsIndoor.length > 0" ng-model="antani" placeholder="{{lang.offlineTags}}">
                            <md-option ng-value="tag" ng-disabled="$index + 1" ng-repeat="tag in offlineTagsIndoor">{{tag.name}}</md-option>
                        </md-select>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <img src="img/icons/tags/offline_tag_24.png" class="md-avatar" alt="{{lang.lostTags}}"
                         title="{{lang.lostTags}}">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{lang.lostTags}}: <b class="color-orange">{{tagsStateIndoor.offgrid}}</b></h3>
                        <h4>{{ tagsStateIndoor.offgrid }} {{lang.areLostTags | lowercase}}</h4>
                        <md-select ng-if="offgridTags.length > 0" ng-model="antani" placeholder="{{lang.lostTags}}">
                            <md-option ng-value="tag" ng-disabled="$index + 1" ng-repeat="tag in offgridTags">{{tag.name}}</md-option>
                        </md-select>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <img src="img/icons/tags/offline_tag_24.png" class="md-avatar" alt="{{lang.shutdownTags}}"
                         title="{{lang.shutdownTags}}">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{lang.shutdownTags}}: <b class="color-red">{{tagsStateIndoor.offTags}}</b></h3>
                        <h4>{{ tagsStateIndoor.offTags }} {{lang.areShutdownTags | lowercase}}</h4>

                        <md-select ng-if="offTags.length > 0" ng-model="antani" placeholder="{{lang.shutdownTags}}">
                            <md-option ng-value="tag" ng-disabled="$index + 1" ng-repeat="tag in offTags">{{tag.name}}</md-option>
                        </md-select>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </div>
</md-content>
<!--end popup content-->
