<div>
    <!--popup header-->
    <md-toolbar id="popup-toolbar" class="background-red">
        <div layout="row" layout-align="end center" class="width-100">
            <md-button class="md-icon-button margin-none" ng-click="hide()">
                <img src="../SMARTSTUDIO/img/icons/close-icon.png" aria-label="Close dialog" alt="Close" title="Close"/>
            </md-button>
        </div>

        <div layout="row" layout-align="center center" class="margin-top--20-px">
            <img src="../SMARTSTUDIO/img/icons/login-icon.png" class="popup-icon" alt="Smart Track" title="Smart Track">
        </div>

        <div layout="column">
            <div layout="row" layout-align="center center" class="">
                <h1 class=" font-iceberg font-x-large">STATO WETAGS</h1>
            </div>
        </div>
    </md-toolbar>
</div>
<!--end popup header-->

<!--popup content-->
<md-content class="popup-padding">
    <div layout="row" layout-align="center center">
        <div layout="column">
            <md-progress-circular ng-show="data.length === 0" md-diameter="100" md-mode="indeterminate"
                                  class="margin-left-right-50-px"></md-progress-circular>
            <canvas ng-show="data.length !== 0" class="chart chart-doughnut"
                    chart-data="data" chart-labels="labels" chart-colors="colors">
            </canvas>
        </div>
        <div layout="column">
            <md-list>
                <md-list-item class="md-2-line">
                    <img src="../SMARTSTUDIO/img/icons/tags/online_tag_24.png" class="md-avatar" alt="Tag online"
                         title="Tag online">
                    <div class="md-list-item-text" layout="column">
                        <h3>Tags online: <b class="color-green">{{tagsStateIndoor.online}}</b></h3>
                        <h4>{{ tagsStateIndoor.online }} tag/s e'/sono online e trasmette/ono dati</h4>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line">
                    <img src="../SMARTSTUDIO/img/icons/tags/offline_tag_24.png" class="md-avatar" alt="Tag offline"
                         title="Tag offline">
                    <div class="md-list-item-text" layout="column">
                        <h3>Tags offline: <b class="color-darkgray">{{ offlineTagsIndoor.length }}</b></h3>
                        <h4>{{ offlineTagsIndoor.length }} tag/s e'/sono offline e non trasmette/ono dati</h4>
                        <md-select ng-if="offlineTagsIndoor.length > 0" ng-model="antani" placeholder="WeTags Offline">
                            <md-option ng-value="tag" ng-disabled="$index + 1" ng-repeat="tag in offlineTagsIndoor">{{tag.name}}</md-option>
                        </md-select>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <img src="../SMARTSTUDIO/img/icons/tags/offline_tag_24.png" class="md-avatar" alt="Tag dispersi"
                         title="Tag dispersi">
                    <div class="md-list-item-text" layout="column">
                        <h3>Tags dispersi: <b class="color-orange">{{tagsStateIndoor.offgrid}}</b></h3>
                        <h4>{{ tagsStateIndoor.offgrid }} tag/s e'/sono dispersi</h4>
                        <md-select ng-if="offgridTags.length > 0" ng-model="antani" placeholder="WeTags Dispersi">
                            <md-option ng-value="tag" ng-disabled="$index + 1" ng-repeat="tag in offgridTags">{{tag.name}}</md-option>
                        </md-select>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <img src="../SMARTSTUDIO/img/icons/tags/offline_tag_24.png" class="md-avatar" alt="Tag dispersi"
                         title="Tag dispersi">
                    <div class="md-list-item-text" layout="column">
                        <h3>Tags spenti: <b class="color-red">{{tagsStateIndoor.offTags}}</b></h3>
                        <h4>{{ tagsStateIndoor.offTags }} tag/s e'/sono spenti</h4>

                        <md-select ng-if="offTags.length > 0" ng-model="antani" placeholder="WeTags Spenti">
                            <md-option ng-value="tag" ng-disabled="$index + 1" ng-repeat="tag in offTags">{{tag.name}}</md-option>
                        </md-select>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </div>
</md-content>
<!--end popup content-->
