<div ng-controller="languageController">
    <!--popup header-->
    <md-toolbar id="popup-toolbar" ng-class="insertAnchor.resultClass" class="padding-lr-20-px">
        <div layout="row" layout-align="end center" class="width-100">
            <md-button class="md-icon-button margin-none" ng-click="hide()">
                <img src="img/icons/close-icon.png" aria-label="{{lang.closeButton}}" alt="{{lang.closeButton}}"
                     title="{{lang.closeButton}}"/>
            </md-button>
        </div>

        <div layout="row" layout-align="center center" class="margin-top--20-px">
            <img src="img/icons/login-icon.png" class="popup-icon" alt="Smart Track" title="Smart Track">
        </div>

        <div layout="column">
            <div layout="row" layout-align="center center" class="">
                <h1 class=" font-iceberg font-x-large color-white">{{lang.insertingAnchor | uppercase}}</h1>
            </div>
        </div>
    </md-toolbar>
</div>
<!--end popup header-->

<!--popup content-->
<md-content class="popup-padding">
    <div layout="column" layout-align="center center" ng-controller="languageController">

        <form id="insertAnchorForm" name="insertAnchorForm">
            <div layout="row">
                <md-input-container md-no-float ng-class="{'width-100': insertAnchor.multiple == true}" class="md-block padding-right-10-px margin-bottom-0 width-50">
                    <input required type="text" ng-model="insertAnchor.name" name="insertAnchorName"
                           placeholder="{{lang.name}}">
                    <div ng-messages="insertAnchorForm.insertAnchorName.$error || insertAnchorForm.$submitted"
                         role="alert">
                        <div ng-message=" required">{{lang.insertName}}</div>
                    </div>
                </md-input-container>

                <md-input-container ng-if="!insertAnchor.multiple" md-no-float class="md-block padding-right-10-px margin-bottom-0 width-50">
                    <input required type="text" ng-model="insertAnchor.mac" name="insertAnchorMac"
                           placeholder="{{lang.mac}}">
                    <div ng-messages="insertAnchorForm.insertAnchorMac.$error || insertAnchorForm.$submitted"
                         role="alert">
                        <div ng-message=" required">{{lang.insertMac}}</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container md-no-float ng-class="{'width-100': insertAnchor.multiple == true}" class="md-block padding-left-10-px margin-bottom-35-px width-50">
                    <label>{{lang.type}}</label>
                    <md-select ng-model="insertAnchor.selectedType">
                        <md-option ng-repeat="anchorType in anchorTypes track by $index"
                                   ng-value="anchorType.description">
                            {{anchorType.description}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container ng-if="!insertAnchor.multiple" md-no-float class="md-block padding-left-10-px margin-bottom-0 width-50">
                    <input required type="text" ng-model="insertAnchor.ip" name="insertAnchorIp"
                           placeholder="{{lang.ip}}">
                    <div ng-messages="insertAnchorForm.insertAnchorIp.$error || insertAnchorForm.$submitted"
                         role="alert">
                        <div ng-message=" required">{{lang.insertIp}}</div>
                    </div>
                </md-input-container>
            </div>

            <div layout="row" ng-if="!insertAnchor.multiple">
                <md-input-container md-no-float class="md-block padding-left-10-px margin-bottom-0 width-50">
                    <label>{{lang.proximity}}</label>
                    <md-select ng-model="insertAnchor.proximity">
                        <md-option ng-value=1>SI</md-option>
                        <md-option ng-value=0>NO</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container md-no-float class="md-block padding-left-10-px margin-bottom-0 width-50">
                    <input required type="number" ng-model="insertAnchor.rssi" name="insertAnchorRssi"
                           placeholder="{{lang.rssi}}">
                    <div ng-messages="insertAnchorForm.insertAnchorRssi.$error || insertAnchorForm.$submitted"
                         role="alert">
                        <div ng-message=" required">{{lang.insertRssi}}</div>
                    </div>
                </md-input-container>
            </div>

            <md-input-container ng-if="!insertAnchor.multiple" md-no-float class="md-block padding-left-10-px margin-bottom-0 width-50">
                <label>{{lang.neighbors}}</label>
                <md-select ng-model="insertAnchor.selectedNeighbors"
                           md-on-close="clearSearch()"
                           multiple>
                    <md-select-header class="multiple-selection-list-header">
                        <input ng-model="searchString"
                               type="search"
                               placeholder="{{lang.searchAnchor}}"
                               class="search-input"
                               ng-keydown="updateSearch($event)">
                    </md-select-header>
                    <md-optgroup>
                        <md-option ng-value="neighbor.name" ng-repeat="neighbor in neighbors | filter:searchString">
                            {{neighbor.name}}
                        </md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>

            <md-input-container ng-if="!insertAnchor.multiple" md-no-float class="md-block padding-left-10-px margin-bottom-0">
                <label>{{lang.permitted}}</label>
                <md-select ng-model="insertAnchor.selectedPermitteds"
                           md-on-close="clearSearch()"
                           multiple>
                    <md-select-header class="multiple-selection-list-header">
                        <input ng-model="searchString"
                               type="search"
                               placeholder="{{lang.searchTag}}"
                               class="search-input"
                               ng-keydown="updateSearch($event)">
                    </md-select-header>
                    <md-optgroup>
                        <md-option ng-value="permitted.name" ng-selected="{{true}}" ng-repeat="permitted in permitteds | filter:searchString">
                            {{permitted.name}}
                        </md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>

            <md-input-container ng-if="insertAnchor.multiple" md-no-float class="md-block padding-left-10-px margin-bottom-0">
                <input type='number' ng-model='insertAnchor.number_of_anchors' name='numberOfAnchors' placeholder="{{lang.anchors_number}}">
            </md-input-container>

            <md-input-container md-no-float class="md-block padding-left-10-px margin-bottom-0">
                <md-checkbox class="md-primary" ng-model="insertAnchor.multiple" aria-label="">
                    {{lang.insert_multiple_anchors}}
                </md-checkbox>    
            </md-input-container>


            <div layout="row" layout-align="center end" class="width-100 margin-top-15-px">
                <md-button ng-click="addAnchor(insertAnchorForm)" class="md-raised background-darkcyan color-white">
                    {{lang.insertAnchor | uppercase}}
                </md-button>
            </div>
        </form>
    </div>
</md-content>
<!--end popup content-->