<div ng-controller="languageController">
    <!--popup header-->
    <md-toolbar id="popup-toolbar" ng-class="insertFloor.resultClass">
        <div layout="row" layout-align="end center" class="width-100">
            <md-button class="md-icon-button margin-none" ng-click="hide()">
                <img src="img/icons/close-icon.png" aria-label="{{lang.closeButton}}" alt="{{lang.closeButton}}"
                     title="{{lang.closeButton}}"/>
            </md-button>
        </div>

        <div layout="row" layout-align="center center" class="margin-top--20-px">
            <img src="img/icons/login-icon.png" class="popup-icon" alt="Smart Track" title="Smart Track">
        </div>

        <div layout="column">
            <div layout="row" layout-align="center center" class="">
                <h1 class=" font-iceberg font-x-large">{{lang.insertingFloor | uppercase}}</h1>
            </div>
        </div>
    </md-toolbar>
</div>
<!--end popup header-->

<!--popup content-->
<md-content class="popup-padding">
    <div layout="column" layout-align="center center" ng-controller="languageController">

        <form id="insertFloorForm" name="insertFloorForm">
            <md-input-container md-no-float class="md-block padding-right-10-px margin-bottom-0">
                <input required type="text" ng-model="insertFloor.floorName" name="insertFloorFloorName"
                       placeholder="{{lang.name}}">
                <div ng-messages="insertFloorForm.insertFloorName.$error || insertFloorForm.$submitted"
                     role="alert">
                    <div ng-message=" required">{{lang.insertName}}</div>
                </div>
            </md-input-container>

            <md-input-container md-no-float class="md-block padding-right-10-px margin-bottom-0">
                <input required type="number" ng-model="insertFloor.mapWidth" name="insertFloorMapWidth"
                       placeholder="{{lang.lengthValue}}">
                <div ng-messages="insertFloorForm.insertFloorMapWidth.$error || insertFloorForm.$submitted"
                     role="alert">
                    <div ng-message=" required">{{lang.insertLength}}</div>
                </div>
            </md-input-container>
            <md-input-container md-no-float class="md-block padding-left-10-px margin-bottom-0">
                <input required type="number" ng-model="insertFloor.spacing" name="insertFloorSpacing"
                       placeholder="{{lang.spacing}}">
                <div ng-messages="insertFloorForm.insertFloorSpacing.$error || insertFloorForm.$submitted"
                     role="alert">
                    <div ng-message=" required">{{lang.insertSpacing}}</div>
                </div>
            </md-input-container>

            <div class="background-transparent-white text-center color-green font-medium margint-top-5-px margin-bottom-10-px padding-10-px"
                 ng-show="insertFloor.showSuccess">
                {{insertFloor.message}}
            </div>

            <div class="background-transparent-white text-center color-red font-medium margint-top-5-px margin-bottom-10-px padding-10-px"
                 ng-show="insertFloor.showError">
                {{insertFloor.message}}
            </div>

            <div layout="row" layout-align="center end" class="margin-top-15-px">
                <div layout="column" layout-align="end start" class="">
                    <md-button ng-click="uploadFloorImage()" class="md-raised background-orange color-white">
                        <label>
                            <input type="file"
                                   class="ng-hide"
                                   id="marker-image">
                        </label>
                        {{lang.selectMap | uppercase}}
                    </md-button>
                </div>
                <md-button ng-click="insertFloor(insertFloorForm)" class="md-raised  background-darkcyan color-white">
                    {{lang.insertFloor | uppercase}}
                </md-button>
            </div>
        </form>
    </div>
</md-content>
<!--end popup content-->