<div ng-controller="languageController">
    <!--popup header-->
    <md-toolbar id="popup-toolbar" ng-class="insertZone.resultClass">
        <div layout="row" layout-align="end center" class="width-100">
            <md-button class="md-icon-button margin-none" ng-click="hide()">
                <img src="img/icons/close-icon.png" alt="Close" title="Close"/>
            </md-button>
        </div>

        <div layout="row" layout-align="center center" class="margin-top--20-px">
            <img src="img/icons/login-icon.png" class="popup-icon" alt="Smart Track" title="Smart Track">
        </div>

        <div layout="column">
            <div layout="row" layout-align="center center" class="">
                <h1 class=" font-iceberg font-x-large">{{lang.insertZone | uppercase}}</h1>
            </div>
        </div>
    </md-toolbar>
</div>
<!--end popup header-->

<!--popup content-->
<md-content class="popup-padding">
    <div layout="column" layout-align="center center" ng-controller="languageController">

        <form id="insertZoneForm" name="insertZoneForm">
            <md-input-container md-no-float class="md-block padding-right-10-px margin-bottom-0">
                <input required type="text" ng-model="insertZone.zoneName" name="insertZoneName"
                       placeholder="{{lang.insertZoneName}}">
                <div ng-messages="insertZoneForm.insertZoneName.$error || insertZoneForm.$submitted"
                     role="alert">
                    <div ng-message=" required">{{lang.insertZoneName}}</div>
                </div>
            </md-input-container>

            <md-input-container md-no-float class="md-block padding-right-10-px margin-bottom-0">
                <input required type="number" ng-model="insertZone.gpsNorth" name="insertZoneGpsNorht"
                       placeholder="{{lang.insertZoneXLeft}}">
                <div ng-messages="insertZoneForm.insertZoneXLeft.$error || insertZoneForm.$submitted"
                     role="alert">
                    <div ng-message=" required">{{lang.insertZoneXLeft}}</div>
                </div>
            </md-input-container>
            <md-input-container md-no-float class="md-block padding-left-10-px margin-bottom-0">
                <input required type="number" ng-model="insertZone.gpsEast" name="insertZoneGpsEast"
                       placeholder="{{lang.insertZoneXRight}}">
                <div ng-messages="insertZoneForm.insertZoneXRight.$error || insertZoneForm.$submitted"
                     role="alert">
                    <div ng-message=" required">{{lang.insertZoneXRight}}</div>
                </div>
            </md-input-container>
            <md-input-container md-no-float class="md-block padding-left-10-px margin-bottom-0">
                <input required type="number" ng-model="insertZone.radius" name="insertZoneRadius"
                       placeholder="{{lang.insertZoneRadius}}">
                <div ng-messages="insertZoneForm.insertZoneRadius.$error || insertZoneForm.$submitted"
                     role="alert">
                    <div ng-message=" required">{{lang.insertZoneRadius}}</div>
                </div>
            </md-input-container>

            <md-input-container md-no-float class="md-block padding-left-10-px margin-bottom-0">
                <p class="margin-top-0 text-center color-lightgray">{{lang.insertZoneColor}}</p>
                <input type="color" value="#ff0000" ng-model="insertZone.color"
                       colorpick-eyedropper-active="true" class="height-40px">
            </md-input-container>

            <div class="background-transparent-white text-center color-green font-medium margint-top-5-px margin-bottom-10-px padding-10-px"
                 ng-show="insertZone.showSuccess">
                {{insertZone.message}}
            </div>

            <div class="background-transparent-white text-center color-red font-medium margint-top-5-px margin-bottom-10-px padding-10-px"
                 ng-show="insertZone.showError">
                {{insertZone.message}}
            </div>

            <div layout="row" layout-align="center end" class="margin-top-15-px">
                <md-button ng-click="insertZone(insertZoneForm)" class="md-raised  background-darkcyan color-white">
                    {{lang.insertZone | uppercase}}
                </md-button>
            </div>
        </form>
    </div>
</md-content>
<!--end popup content-->
