<div ng-controller="languageController">
    <!--popup header-->
    <md-toolbar id="popup-toolbar" ng-class="insertMac.resultClass">
        <div layout="row" layout-align="end center" class="width-100">
            <md-button class="md-icon-button margin-none" ng-click="hide()">
                <img src="img/icons/close-icon.png" aria-label="{{lang.closeButton}}" alt="{{lang.closeButton}}"
                     title="{{lang.closeButton}}"/>
            </md-button>
        </div>

        <div layout="row" layout-align="center center" class="margin-top--20-px">
            <img src="img/icons/login-icon.png" class="popup-icon" alt="Smart Track" title="Smart Track">
        </div>

        <div layout="column">
            <div layout="row" layout-align="center center" class="">
                <h1 class=" font-iceberg font-x-large">{{lang.insertingMac | uppercase}}</h1>
            </div>
        </div>
    </md-toolbar>
</div>
<!--end popup header-->

<!--popup content-->
<md-content class="popup-padding">
    <div layout="column" layout-align="center center" ng-controller="languageController">

        <form id="insertTagRowForm" name="insertMacRowForm">
            <md-input-container md-no-float class="md-block padding-right-10-px margin-bottom-0">
                <input required type="text" ng-model="insertMac.name" name="insertMacName"
                       placeholder="{{lang.name}}">
                <div ng-messages="insertMacRowForm.insertMacName.$error || insertMacRowForm.$submitted"
                     role="alert">
                    <div ng-message=" required">{{lang.insertName}}</div>
                </div>
            </md-input-container>

            <md-input-container md-no-float class="md-block padding-right-10-px margin-bottom-0">
                <label>{{lang.type}}</label>
                <md-select ng-model="insertMac.type">
                    <md-option ng-value=1>UWB</md-option>
                    <md-option ng-value=0>BLUETOOTH</md-option>
                </md-select>
            </md-input-container>

            <div layout="row" layout-align="center end" class="width-100">
                <md-button ng-click="addMac(insertMacRowForm)" class="md-raised background-darkcyan color-white">
                    {{lang.insertMac}}
                </md-button>
            </div>
        </form>
    </div>
</md-content>
<!--end popup content-->