<div>
    <!--popup header-->
    <md-toolbar id="popup-toolbar" ng-class="location.resultClass">
        <div layout="row" layout-align="end center" class="width-100">
            <md-button class="md-icon-button margin-none" ng-click="hide()">
                <img src="../img/icons/close-icon.png" aria-label="Close dialog" alt="Close" title="Close"/>
            </md-button>
        </div>

        <div layout="row" layout-align="center center" class="margin-top--20-px">
            <img src="../img/icons/login-icon.png" class="popup-icon" alt="Smart Track" title="Smart Track">
        </div>

        <div layout="column">
            <div layout="row" layout-align="center center" class="">
                <h1 class=" font-iceberg font-x-large">INSERIMENTO SITO</h1>
            </div>
        </div>
    </md-toolbar>
    <!--end popup header-->

    <!--popup content-->
    <md-content class="popup-padding">
        <div layout="column" layout-align="center center">

            <form id="insertLocationForm" name="insertLocationForm">
                <md-input-container md-no-float class="md-block width-100 margin-bottom-0">
                    <input required type="text" ng-model="location.name" name="locationName" placeholder="Inserisci un nome">
                    <div ng-messages="insertLocationForm.locationName.$error || insertLocationForm.$submitted" role="alert">
                        <div ng-message=" required">Inserire un nome</div>
                    </div>
                </md-input-container>
                <md-input-container md-no-float class="md-block width-100 margin-bottom-0">
                    <input required type="text" ng-model="location.description" name="locationDescription" placeholder="Inserisci una descrizione">
                    <div ng-messages="insertLocationForm.locationDescription.$error || insertLocationForm.$submitted" role="alert">
                        <div ng-message=" required">Inserire una descrizione</div>
                    </div>
                </md-input-container>
                <md-input-container md-no-float class="md-block width-100 margin-bottom-0">
                    <input required type="text" ng-model="location.latitude" name="locationLat" placeholder="Inserisci la latitudine">
                    <div ng-messages="insertLocationForm.locationLat.$error || insertLocationForm.$submitted" role="alert">
                        <div ng-message=" required">Inserire la latitudine</div>
                    </div>
                </md-input-container>
                <md-input-container md-no-float class="md-block width-100 margin-bottom-0">
                    <input required type="text" ng-model="location.longitude" name="locationLon" placeholder="Inserisci la longitudine">
                    <div ng-messages="insertLocationForm.locationLon.$error || insertLocationForm.$submitted" role="alert">
                        <div ng-message=" required">Inserire la longitudine</div>
                    </div>
                </md-input-container>

                <div class="background-transparent-white text-center color-green font-medium margint-top-5-px margin-bottom-10-px padding-10-px"
                     ng-show="location.resultOk">
                    Posizione inserita con successo!
                </div>

                <div class="background-transparent-white text-center color-red font-medium margint-top-5-px margin-bottom-10-px padding-10-px"
                     ng-show="location.resultError">
                    Impossibile inseerire la posizione..
                </div>

                <div layout="column" layout-align="center center">
                    <md-button ng-click="changeTagName(insertLocationForm)" class="md-warn color-darkblue">INVIA</md-button>
                </div>
            </form>
        </div>
    </md-content>
    <!--end popup content-->
</div>