<div ng-controller="languageController">
    <!--popup header-->
    <md-toolbar id="popup-toolbar">
        <div layout="row" layout-align="end center" class="width-100">
            <md-button class="md-icon-button margin-none" ng-click="hide()">
                <img src="img/icons/close-icon.png" aria-label="{{lang.closeButton}}" alt="{{lang.closeButton}}"
                     title="{{lang.closeButton}}"/>
            </md-button>
        </div>

        <div layout="row" layout-align="center center" class="margin-top--20-px">
            <img src="img/icons/login-icon.png" class="popup-icon" alt="Smart Track" title="Smart Track">
        </div>

        <div layout="column">
            <div layout="row" layout-align="center center" class="">
                <h1 class=" font-iceberg color-white font-x-large">{{tag.name}} MACS</h1>
            </div>
        </div>
    </md-toolbar>
    <!--end popup header-->
</div>
<!--popup content-->

<md-content class="popup-padding">

    <div layout="column" layout-align="center center" ng-controller="languageController">

        <md-table-container>

            <table md-table md-row-select="options.rowSelection" ng-model="selected"
                   md-progress="promise">

                <thead md-head md-order="query.order">
                <tr md-row>
                    <th md-column><span class="color-darkcyan">{{lang.name | uppercase}}</span></th>
                    <th md-column><span class="color-darkcyan">{{lang.type | uppercase}}</span></th>
                </tr>
                </thead>

                <tbody md-body>
                <tr md-row md-select="mac" md-on-select="logItem" md-auto-select="true"
                    ng-repeat="mac in macs | limitTo: query.limit: (query.page -1 ) * query.limit">

                    <td md-cell ng-click="editCell($event, mac, 'mac')" ng-class="{'md-placeholder': !mac.mac}">
                        {{mac.mac || lang.insertName}}
                    </td>
                    <td md-cell ng-click="editCell($event, mac, 'type')"
                        ng-class="{'md-placeholder': mac.type === null}">
                        {{'' + mac.type || lang.insertType}}
                    </td>
                    <td md-cell ng-click="deleteMac($event, mac)"><img
                            src="img/icons/delete_trash_24.png" alt="{{lang.deleteMac}}" title="{{lang.deleteMac}}"></td>
                </tr>
                <tr md-row ng-show="macs.length === 0">
                    <td md-cell colspan="8" class="text-center color-red">{{lang.noResultFound}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-input-container md-no-float class="md-block width-100 margin-bottom-0">
            <div layout="row" layout-align="center end" class="margin-bottom-30-px">
                <img src="img/icons/add_row_32.png" class="outline-none cursor-pointer"
                     ng-click="addNewMac()" alt="{{lang.addMac}}" title="{{lang.addMac}}">
            </div>
        </md-input-container>

        <md-table-pagination class="color-red" md-limit="query.limit" md-limit-options="query.limitOptions"
                             md-page="query.page"
                             md-total="{{macs.length}}" md-on-paginate="">
        </md-table-pagination>
    </div>
</md-content>
<!--end popup content-->

