<div ng-controller="languageController">
    <!--popup header-->
    <md-toolbar id="popup-toolbar">
        <div layout="row" layout-align="end center" class="width-100">
            <md-button class="md-icon-button margin-none" ng-click="hide()">
                <img src="img/icons/close-icon.png" aria-label="{{lang.closeButton}}" alt="{{lang.closeButton}}"
                     title="{{lang.closeButton}}"/>
            </md-button>
        </div>

        <div layout="row" layout-align="center center" class="margin-top--20-px height-60px">
            <img src="img/icons/login-icon-inner.png" class="home-menu-logo top-20px position-absolute"
                 alt="Smart Track" title="Smart Track">
            <img src="img/icons/login-icon-middle-inner.png" class="home-menu-logo spin-logo-right-2s top-20px"
                 alt="Smart Track" title="Smart Track">
            <img src="img/icons/login-icon-middle-outer.png" class="home-menu-logo spin-logo-left-3s top-20px"
                 alt="Smart Track" title="Smart Track">
            <img src="img/icons/login-icon-outer.png" class="home-menu-logo spin-logo-right top-20px"
                 alt="Smart Track" title="Smart Track">
        </div>

        <div layout="column">
            <div layout="row" layout-align="center center" class="">
                <h1 class=" font-iceberg color-white font-x-large">{{lang.sites | uppercase}}</h1>
            </div>
        </div>
    </md-toolbar>
</div>
<!--end popup header-->

<!--popup content-->
<md-content class="popup-padding padding-bottom-70px">

    <div layout="column" layout-align="center center" ng-controller="languageController">

        <md-table-container class="overflow-x-none">

            <table md-table md-row-select="options.rowSelection" ng-model="selected"
                   md-progress="promise">

                <md-select class="width-200-px float-right background-darkcyan color-white text-center"
                           md-selected-text="getName()" multiple ng-model="columns"
                           placeholder="Select columns">
                    <md-option ng-repeat="item in items" ng-selected="{{true}}" ng-value="item">
                        {{item}}
                    </md-option>
                </md-select>

                <thead md-head md-order="query.order">
                <tr md-row>
                    <th md-column md-order-by="name" ng-if="exists('name', columns)"><span class="color-darkcyan">{{lang.name | uppercase}}</span>
                    </th>
                    <th md-column md-order-by="latitude" ng-if="exists('latitude', columns)"><span
                            class="color-darkcyan">{{lang.latitude | uppercase}}</span></th>
                    <th md-column md-order-by="longitude" ng-if="exists('longitude', columns)"><span
                            class="color-darkcyan">{{lang.longitude | uppercase}}</span></th>
                    <th md-column md-order-by="radius" ng-if="exists('radius', columns)"><span class="color-darkcyan">{{lang.radius | uppercase}} °</span>
                    <th md-column md-order-by="radius" ng-if="exists('meter_radius', columns)"><span
                            class="color-darkcyan">{{lang.radius | uppercase}} m</span>
                    </th>
                    <th ng-if="isAdmin" md-column></th>
                </tr>
                </thead>

                <tbody md-body>
                <tr md-row md-select="anchor" md-on-select="logItem" md-auto-select="true"
                    ng-repeat="location in locationsTable | orderBy: query.order | limitTo: query.limit: (query.page -1 ) * query.limit">
                    <td md-cell class="no-wrap" ng-click="editCell($event, location, 'name')"
                        ng-class="{'md-placeholder': !location.name}" ng-if="exists('name', columns)">
                        {{location.name || lang.insertName}}
                    </td>
                    <td md-cell class="no-wrap" ng-click="editCell($event, location, 'latitude')"
                        ng-class="{'md-placeholder': !location.latitude}" ng-if="exists('latitude', columns)">
                        {{location.latitude || lang.insertLatitude}}
                    </td>
                    <td md-cell class="no-wrap" ng-click="editCell($event, location, 'longitude')"
                        ng-class="{'md-placeholder': !location.longitude}" ng-if="exists('longitude', columns)">
                        {{location.longitude || lang.longitude}}
                    </td>
                    <td md-cell class="no-wrap" ng-click="editCell($event, location, 'radius')"
                        ng-class="{'md-placeholder': !location.radius.toString()}" ng-if="exists('radius', columns)">
                        {{location.radius ||
                        lang.insertRadius}}
                    </td>
                    <td md-cell class="no-wrap" ng-click="editCell($event, location, 'meter_radius')"
                        ng-class="{'md-placeholder': !location.meter_radius.toString()}"
                        ng-if="exists('meter_radius', columns)">{{location.meter_radius ||
                        lang.insertRadius}}
                    </td>
                    <td md-cell class="no-wrap" ng-if="isAdmin" ng-click="deleteRow(location)"><img
                            src="img/icons/delete_trash_24.png" alt="Cancella sito" title="Cancella sito"></td>
                </tr>
                <tr md-row ng-show="locationsTable.length === 0">
                    <td md-cell colspan="8" class="text-center color-red">{{lang.noResultFound}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-input-container
                class="md-block position-fixed bottom-0 margin-none margin-bottom-23-px zindex-100 margin-bottom-50-px margin-top-0"
                md-no-float ng-show="isAdmin">
            <div layout="row" layout-align="center end">
                <img src="img/icons/add_row_32.png" class="outline-none cursor-pointer"
                     ng-click="addNewRow()" alt="{{lang.addSite}}" title="{{lang.addSite}}">
            </div>
        </md-input-container>

        <md-table-pagination
                class="color-red background-white position-fixed bottom-0 margin-bottom-15-px width-100 padding-0 padding-right-24-px"
                md-limit="query.limit" md-limit-options="query.limitOptions"
                md-page="query.page"
                md-total="{{locationsTable.length}}" md-on-paginate="">
        </md-table-pagination>
    </div>
</md-content>
<!--end popup content-->
