<div ng-controller="loginController">
    <div layout="row" layout-sm="row" layout-xs="row" layout-align="center center" layout-wrap class="height-100-vh" style="z-index: 100">
        <div id="login-container" flex="25" flex-lg="25" flex-xl="20" flex-sm="40" flex-xs="100" class="">
            <form id="loginForm" name="loginForm">
                <div layout="row" layout-align="center center">
                    <img src="../smartStudio/img/login-icon.png" class="avatar-image border-radius-50" alt="Smart Studio">
                </div>
                <div layout="column">
                    <div layout="row" layout-align="center center" class="padding-bottom-10 padding-top-5">
                        <h1 class=" font-iceberg font-x-large">SAFETY IoT PLATFORM</h1>
                    </div>
                    <md-input-container class="margin-bottom-0">
                        <label for="usernameInput" class="font-smal">Username</label>
                        <input required type="text" id="usernameInput" name="usernameInput" ng-model="user.username" title="">
                        <div ng-messages="loginForm.usernameInput.$error || loginForm.$submitted" role="alert">
                            <div ng-message=" required">Inserire un username</div>
                        </div>
                    </md-input-container>
                    <br>
                    <md-input-container class="margin-top-0 margin-bottom-0">
                        <label for="passwordInput" class="font-smal">Password</label>
                        <input required type="password" id="passwordInput" name="passwordInput" ng-model="user.password" title="">
                        <div ng-messages="loginForm.passwordInput.$error || loginForm.$submitted">
                            <div ng-message="required">Inserire una password</div>
                        </div>
                    </md-input-container>
                    <div class="background-transparent-white text-center color-red font-smal
                        margint-top-5-px margin-bottom-10-px padding-10-px" ng-show="errorHandeling.wrongData">Utente non registrato o password errata</div>
                    <div class="background-transparent-white text-center color-white font-x-smal border-1-red
                        border-radius-20-px margint-top-5-px margin-bottom-10-px padding-10-px"
                        ng-show="errorHandeling.noConnection">Impossibile communicare con il server</div>
                    <md-button id="loginButton" ng-click="login(loginForm)" class="md-raised">Login</md-button>
                </div>
            </form>
            <div ng-click="recoverPassword()" class="float-right  font-smal cursor-pointer background-transparent-white padding-10-px">
                <p class="text-underlined margin-none">Recupera password</p>
            </div>
        </div>
    </div>
</div>