<div ng-controller="languageController">

    <!--popup content-->
    <md-content class="popup-padding">
        <div layout="column" layout-align="center center">
            <md-input-container md-no-float class="md-block padding-left-10-px margin-bottom-0">
                <label>{{lang.selectRfid}}</label>
                <md-select ng-model="rfid.selected_rfid">
                    <md-option><em>{{lang.nothing}}</em></md-option>
                    <md-option ng-repeat="rfid in rfids track by $index" ng-value="rfid.id">
                        {{rfid.id}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
    </md-content>
    <!--end popup content-->
</div>