<!--popup header-->
<div ng-controller="languageController">
    <md-toolbar id="popup-toolbar">
        <div layout="row" layout-align="end center" class="width-100">
            <md-button class="md-icon-button margin-none" ng-click="hide()">
                <img src="img/icons/close-icon.png" aria-label="{{lang.closeButton}}" alt="{{lang.closeButton}}" title="{{lang.closeButton}}"/>
            </md-button>
        </div>

        <div layout="row" layout-align="center center" class="margin-top--20-px">
            <img src="img/icons/login-icon.png" class="popup-icon" alt="Smart Track" title="Smart Track">
        </div>

        <div layout="column">
            <div layout="row" layout-align="center center" class="">
                <h1 class=" font-iceberg font-x-large">{{floorData.location}} - {{floorData.floorName}}</h1>
            </div>
        </div>
    </md-toolbar>
</div>
<!--end popup header-->

<md-content>
    <!--canvas container-->
    <div id="search-canvas-container" layout="row" layout-align="center start"
         class="parent-size background-ottanio">
        <canvas id="search-canvas-id" ng-init="" class="width-100"></canvas>
    </div>
    <!--end canvas container-->
</md-content>
