<div ng-controller="languageController">
    <!--popup header-->
    <md-toolbar id="popup-toolbar" ng-class="isTagInAlarm">
        <div layout="row" layout-align="end center" class="width-100">
            <md-button class="md-icon-button margin-none" ng-click="hide()">
                <img src="img/icons/close-icon.png" aria-label="{{lang.closeButton}}" alt="{{lang.closeButton}}"
                     title="{{lang.closeButton}}"/>
            </md-button>
        </div>

        <div layout="row" layout-align="center center" class="margin-top--20-px">
            <img src="img/icons/login-icon.png" class="popup-icon" alt="Smart Track" title="Smart Track">
        </div>

        <div layout="column">
            <div layout="row" layout-align="center center" class="">
                <h1 class=" font-iceberg font-x-large">{{tag.name}}</h1>
            </div>
        </div>
    </md-toolbar>
    <!--end popup header-->
</div>
<!--popup content-->
<md-content class="popup-padding">
    <div layout="column" layout-align="center center" ng-controller="languageController">
        <md-list>
            <md-list-item class="width-500-px">
                <p class="float-left">{{lang.tagType}}:</p>
                <p class="float-right text-right">{{tag.tag_type_name}}</p>
            </md-list-item>
            <md-list-item class="width-500-px">
                <p class="float-left">{{lang.floor}}:</p>
                <p class="float-right text-right">{{tag.floor_name}}</p>
            </md-list-item>
            <md-list-item class="width-500-px">
                <p class="float-left">{{lang.anchor}}:</p>
                <p class="float-right text-right">{{tag.anchor_name}}</p>
            </md-list-item>
            <md-list-item class="width-500-px">
                <p class="float-left">{{lang.time}}:</p>
                <p class="float-right text-right">{{tag.time}}</p>
            </md-list-item>
            <md-list-item class="width-500-px">
                <p class="float-left">{{lang.gpsTime}}:</p>
                <p class="float-right text-right">{{tag.gps_time}}</p>
            </md-list-item>
            <md-list-item class="width-500-px">
                <p class="float-left">{{lang.alarmTime}}:</p>
                <p class="float-right text-right">{{tag.alarm_time}}</p>
            </md-list-item>
            <md-list-item class="width-500-px">
                <p class="float-left">{{lang.batteryLevel}}:</p>
                <p class="float-right text-right"><img alt="{{lang.batteryStatus}}" title="{{lang.batteryStatus}}"
                                                       aria-label="{{lang.batteryStatus}}"
                                                       ng-src="{{tag.battery_status ? 'img/icons/battery_empty_24.png' : 'img/icons/battery_full_24.png'}}"></p>
            </md-list-item>
        </md-list>
        <md-list>
            <p class="text-center color-red text-bold">{{lang.tagAlarms | uppercase}}</p>
            <md-list-item class="md-3-line" ng-repeat="alarm in alarms" ng-click="null">
                <img ng-src="{{alarm.image}}" class="md-avatar" alt="{{item.who}}"/>
                <div class="md-list-item-text" layout="column">
                    <h3>{{ alarm.tag }}</h3>
                    <h4>{{ alarm.name }}</h4>
                    <p>{{ alarm.description }}</p>
                </div>
            </md-list-item>
        </md-list>
    </div>
</md-content>
<!--end popup content-->
