<div>
    <!--popup header-->
    <md-toolbar id="popup-toolbar" class="background-red">
        <div layout="row" layout-align="end center" class="width-100">
            <md-button class="md-icon-button margin-none" ng-click="hide()">
                <img src="../SMARTSTUDIO/img/icons/close-icon.png" alt="Close" title="Close"/>
            </md-button>
        </div>

        <div layout="row" layout-align="center center" class="margin-top--20-px">
            <img src="../SMARTSTUDIO/img/icons/login-icon.png" class="popup-icon" alt="Smart Track" title="Smart Track">
        </div>

        <div layout="column">
            <div layout="row" layout-align="center center" class="">
                <h1 class=" font-iceberg font-x-large">TAG FUORI LOCATION</h1>
            </div>
        </div>
    </md-toolbar>
    <!--end popup header-->

    <!--popup content-->
    <md-content class="popup-padding">
        <div layout="column" layout-align="center center">
            <p class="color-red">Non sei autorizzato a visualizzare la posizione di questo tag!</p>
        </div>
    </md-content>
    <!--end popup content-->
</div>