<div ng-controller="languageController">
    <!--popup header-->
    <md-toolbar id="popup-toolbar">
        <div layout="row" layout-align="end center" class="width-100">
            <md-button class="md-icon-button margin-none" ng-click="hide()">
                <img src="img/icons/close-icon.png" aria-label="{{lang.closeButton}}" alt="{{lang.closeButton}}"
                     title="{{lang.closeButton}}"/>
            </md-button>
        </div>

        <div layout="row" layout-align="center center" class="margin-top--20-px">
            <img src="img/icons/login-icon.png" class="popup-icon" alt="Smart Track" title="Smart Track">
        </div>

        <div layout="column">
            <div layout="row" layout-align="center center" class="">
                <h1 class=" font-iceberg color-white font-x-large">WETAG</h1>
            </div>
        </div>
    </md-toolbar>
</div>
<!--end popup header-->

<!--popup content-->
<md-content class="popup-padding padding-bottom-70px">

    <div layout="column" layout-align="center center" ng-controller="languageController">

        <md-table-container class="overflow-x-none">

            <table md-table md-row-select="options.rowSelection" ng-model="selected"
                   md-progress="promise">

                <md-select class="width-200-px float-right background-darkcyan color-white text-center"
                           md-selected-text="getName()" multiple ng-model="columns"
                           placeholder="Select columns">
                    <md-option ng-repeat="item in items" ng-selected="{{true}}" ng-value="item">
                        {{item}}
                    </md-option>
                </md-select>

                <thead md-head md-order="query.order">
                <tr md-row>
                    <th md-column></th>
                    <th md-column md-order-by="name" ng-if="exists('name', columns)"><span class="color-darkcyan">{{lang.name | uppercase}}</span>
                    </th>
                    <th md-column md-order-by="type_name" ng-if="exists('type', columns)"><span class="color-darkcyan">{{lang.type | uppercase}}</span>
                    <th md-column md-order-by="type_name" ng-if="exists('battery', columns)"><span
                            class="color-darkcyan">{{lang.batteryLevel | uppercase}}</span></th>
                    <th md-column ng-if="isAdmin && exists('rfids', columns)" class="color-darkcyan">{{lang.manageRfid | uppercase}}</th>
                    <th md-column ng-if="isAdmin && exists('macs', columns)"></th>
                    <th md-column ng-if="isAdmin && exists('zones', columns)"></th>
                    <th md-column ng-if="isAdmin && exists('parameters', columns)"></th>
                    <th md-column ng-if="isAdmin && exists('callme', columns)"></th>
                    <th ng-if="isAdmin" md-column></th>
                </tr>
                </thead>

                <tbody md-body>
                <tr md-row md-select="tag" md-on-select="logItem" md-auto-select="true"
                    ng-repeat="tag in tags | orderBy: query.order | limitTo: query.limit: (query.page -1 ) * query.limit">
                    <td md-cell>
                        <img class="width-30px" ng-src="{{isTagOff(tag) ? 'img/icons/tags/shut_down_tag.png' :
                           tagHasAlarm(tag) ? 'img/icons/tags/unknown_alarm.png' : isTagOffline(tag) ? 'img/icons/tags/offline_tag_24.png' :
                           'img/icons/tags/online_tag_24.png'}}">
                    <td md-cell ng-class="{'md-placeholder': !tag.name}" ng-click="editCell($event, tag, 'name')"
                        ng-if="exists('name', columns)">
                        {{tag.name || lang.insertName}}
                    </td>
                    <td md-cell ng-class="{'md-placeholder': !tag.type_name}" ng-if="exists('type', columns)">
                        <md-select ng-model="selectedType" ng-disabled="!isAdmin"
                                   ng-change="updateTagType(tag, selectedType)" aria-label="Seleziona tipologia">
                            <md-option><em>{{lang.nothing}}</em></md-option>
                            <md-option ng-selected="{{tagType.id.toString() === tag.type_id.toString()}}"
                                       ng-repeat="tagType in tagTypes track by $index" ng-value="tagType.id">
                                {{tagType.description}}
                            </md-option>
                        </md-select>
                    </td>
                    <td md-cell ng-if="exists('battery', columns)"><img alt="{{lang.batteryLevel}}"
                                                                        ng-src="{{tag.battery_status ? 'img/icons/battery_empty_24.png' : 'img/icons/battery_full_24.png'}}"
                                                                        title="{{lang.batteryLevel}}">
                        <span class="padding-left-5-px"><b>{{tag.battery_level}}</b>%/<b>{{tag.temperature}}</b>°C</span>
                    </td>
                    <td md-cell ng-if="isAdmin && exists('rfids', columns)" class="padding-right-10-px">
                        <md-select ng-model="selected_rfid" ng-change="updateTagRfid(tag, selected_rfid)" aria-label="Seleziona tipologia">
                            <md-option>{{lang.nothing}}</md-option>
                            <md-option ng-selected="{{rfid.id.toString() === tag.rfid_id.toString()}}"
                                       ng-repeat="rfid in rfids" ng-value="rfid.id">
                                {{rfid.number}}
                            </md-option>
                        </md-select>
                    </td>
                    <td md-cell ng-show="isAdmin" class="padding-right-10-px">
                        <md-button ng-click="tagMacs(tag)"
                                   class="md-raised background-gray color-darkcyan margin-top-5-px"
                                   ng-if="exists('macs', columns)">
                            {{lang.macsManaging | uppercase}}
                        </md-button>
                    </td>
                    <td class="padding-right-10-px" md-cell ng-if="exists('zones', columns)" ng-show="(isAdmin)">
                        <md-button ng-click="tagZones(tag)"
                                   class="md-raised background-gray color-darkcyan margin-top-5-px">
                            {{lang.zonesManaging | uppercase}}
                        </md-button>
                    </td>
                    <td class="padding-right-10-px" md-cell ng-if="exists('parameters', columns)" ng-show="(isAdmin)">
                        <md-button ng-click="tagParameters(tag)"
                                   class="md-raised background-gray color-darkcyan margin-top-5-px">
                            {{lang.parameters | uppercase}}
                        </md-button>
                    </td>
                    <td md-cell ng-click="callMe(tag)" ng-if="exists('callme', columns)" ng-show="isAdmin">
                        <md-button ng-class="tagsCallMe[tag.id]['background']"
                                   class="md-raised background-gray margin-top-5-px">{{tagsCallMe[tag.id]['value']}}
                        </md-button>
                    </td>
                    <td md-cell ng-show="isAdmin" ng-click="deleteRow(tag)"><img src="img/icons/delete_trash_24.png"
                                                               alt="{{lang.deleteTag}}" title="{{lang.deleteTag}}"></td>
                </tr>
                <tr md-row ng-show="tags.length === 0">
                    <td md-cell colspan="8" class="text-center color-red">{{lang.noResultFound}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-input-container
                class="md-block position-fixed bottom-0 margin-none margin-bottom-23-px zindex-100 margin-top-0"
                md-no-float ng-if="isAdmin">
            <div layout="row" layout-align="center end">
                <img src="img/icons/add_row_32.png" class="outline-none cursor-pointer"
                     ng-click="addNewRow()" alt="{{lang.addTag}}" title="{{lang.addTag}}">
            </div>
        </md-input-container>

        <md-table-pagination
                class="color-red background-white position-fixed bottom-0 margin-bottom-15-px width-100 padding-0 padding-right-24-px"
                md-limit="query.limit" md-limit-options="query.limitOptions"
                md-page="query.page"
                md-total="{{tags.length}}" md-on-paginate="">
        </md-table-pagination>
    </div>
</md-content>
<!--end popup content-->
