<div ng-controller="languageController">
    <!--popup header-->
    <md-toolbar id="popup-toolbar" ng-class="isTagInAlarm">
        <div layout="row" layout-align="end center" class="width-100">
            <md-button class="md-icon-button margin-none" ng-click="hide()">
                <img src="img/icons/close-icon.png" aria-label="{{lang.closeButton}}" alt="{{lang.closeButton}}"
                     title="{{lang.closeButton}}"/>
            </md-button>
        </div>

        <div layout="row" layout-align="center center" class="margin-top--20-px">
            <img src="img/icons/login-icon.png" class="popup-icon" alt="Smart Track" title="Smart Track">
        </div>

        <div layout="column">
            <div layout="row" layout-align="center center" class="">
                <h1 class="font-iceberg font-x-large">{{lang.wetagsGroup | uppercase}}</h1>
            </div>
        </div>
    </md-toolbar>
    <!--end popup header-->
</div>
<!--popup content-->
<md-content class="popup-padding">
    <div layout="column" layout-align="center center" ng-controller="languageController">
        <md-list>
            <md-list-item ng-repeat="tag in tags track by $index">
                <div>
                    <div ng-click="displayList(tag.name, $index)" class="width-300-px cursor-pointer outline-none padding-top-bottom-6px">
                        <p class="text-center text-bold color-darkcyan">{{tag.name}}
                            <span><img class="position-absolute right-0" src="img/icons/open-list-icon.ico"></span>
                        </p>
                    </div>
                    <md-list class="collapse" ng-class="{displaynone: collapsibleState}">
                        <md-list-item class="width-300-px">
                            <p class="float-left text-bold">{{lang.floor}}:</p>
                            <p class="float-right text-right">{{tag.floor_name}}</p>
                        </md-list-item>
                        <md-list-item class="width-300-px">
                            <p class="float-left text-bold">{{lang.anchor}}:</p>
                            <p class="float-right text-right">{{tag.anchor_name}}</p>
                        </md-list-item>
                    </md-list>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
        <md-list>
            <p ng-if="alarms.length !== 0" class="text-center color-red text-bold">{{lang.tagsAlarms | uppercase}}</p>
            <md-list-item class="md-3-line" ng-repeat="alarm in alarms" ng-click="null">
                <img ng-src="{{alarm.image}}" class="md-avatar" alt=""/>
                <div class="md-list-item-text" layout="column">
                    <h3>{{ alarm.tag }}</h3>
                    <h4>{{ alarm.name }}</h4>
                    <p>{{ alarm.description }}</p>
                </div>
            </md-list-item>
        </md-list>
    </div>
</md-content>
<!--end popup content-->
