<div layout="row" layout-sm="row" layout-xs="row" layout-align="center center" layout-wrap style="height: 100vh; background-color: #444444">
    <div flex="40" flex-sm="100" flex-xs="100" style="background-color: #6AB8C3">
        <form id="loginForm" name="loginForm">
            <div layout="row" layout-align="center center">
                <img src="../img/avatar.png" class="avatar-image border-radius-50" alt="">
            </div>
            <div layout="column">
                <div layout="row" layout-align="center center">
                    <h1 class="color-white">LOGIN</h1>
                </div>
                <md-input-container>
                    <label>Username</label>
                    <input required type="text" name="usernameInput" ng-model="user.username" title="">
                    <div ng-messages="loginForm.usernameInput.$error || loginForm.$submitted" role="alert">
                        <div ng-message=" required">Inserire un username</div>
                    </div>
                </md-input-container>
                <br>
                <md-input-container>
                    <label>Password</label>
                    <input required type="password" name="passwordInput" ng-model="user.password" title="">
                    <div ng-messages="loginForm.passwordInput.$error || loginForm.$submitted">
                        <div ng-message="required">Inserire una password</div>
                    </div>
                </md-input-container>
                <md-subheader class="background-transparent color-red font-medium" ng-show="">Utente non registrato o password errata</md-subheader>
                <md-subheader class="background-transparent color-red font-medium" ng-show="">Impossibile communicare con il server</md-subheader>
                <md-button ng-click="">Login</md-button>
            </div>
        </form>
    </div>
    <!--<div flex="40" flex-sm="100" style="background-color: #9e9e9e">-->
        <!--<div layout="row" layout-align="center center">-->
            <!--<img src="../img/avatar.png" class="avatar-image border-radius-50">-->
        <!--</div>-->
    <!--</div>-->
</div>