<div>
    <!--popup header-->
    <md-toolbar id="popup-toolbar">
        <div layout="row" layout-align="end center" class="width-100">
            <md-button class="md-icon-button margin-none" ng-click="hide()">
                <img src="img/icons/close-icon.png" aria-label="Close dialog" alt="Close" title="Close"/>
            </md-button>
        </div>

        <div layout="row" layout-align="center center" class="margin-top--20-px">
            <img src="img/icons/login-icon.png" class="popup-icon" alt="Smart Track" title="Smart Track">
        </div>

        <div layout="column">
            <div layout="row" layout-align="center center" class="">
                <h1 class=" font-iceberg font-x-large">{{title}}</h1>
            </div>
        </div>
    </md-toolbar>
</div>
<!--end popup header-->

<!--popup content-->
<md-content class="popup-padding">

    <div layout="column" layout-align="center center" ng-controller="languageController">

        <md-table-container>

            <table md-table md-row-select="options.rowSelection" ng-model="selected"
                   md-progress="promise">

                <thead md-head md-order="query.order">
                <tr md-row>
                    <th md-column md-order-by="name"><span class="color-darkcyan">USERNAME</span></th>
                    <th md-column md-order-by="latitude"><span class="color-darkcyan">NOME</span></th>
                    <th md-column md-order-by="longitude" ng-show="isAdmin"><span class="color-darkcyan">RUOLO</span></th>
                    <th md-column md-order-by="longitude" ng-show="isAdmin || isUserManager"><span class="color-darkcyan">GESTIONE LOCATION</span></th>
                    <th md-column ng-show="isAdmin || isUserManager"></th>
                </tr>
                </thead>

                <tbody md-body>
                <tr md-row md-select="anchor" md-on-select="logItem" md-auto-select="true"
                    ng-repeat="user in usersTable | orderBy: query.order | limitTo: query.limit: (query.page -1 ) * query.limit">
                    <td md-cell class="no-wrap" ng-click="editCell($event, user, 'username')"
                        ng-class="{'md-placeholder': !user.username}">
                        {{user.username || 'Inserire username'}}
                    </td>
                    <td md-cell class="no-wrap" ng-click="editCell($event, user, 'name')"
                        ng-class="{'md-placeholder': !user.name}">{{user.name || 'Inserire nome'}}
                    </td>
                    <td md-cell ng-show="isAdmin" class="no-wrap">
                        <md-input-container md-no-float class="md-block">
                            <md-select ng-model="userRole" ng-change="updateUserRole(user, userRole)">
                                <md-option ng-selected="{{user.role === '1'}}" ng-value=1>{{lang.adminUser | uppercase}}</md-option>
                                <md-option ng-selected="{{user.role === '2'}}" ng-value=2>{{lang.intermediateUser | uppercase}}</md-option>
                                <md-option ng-selected="{{user.role === '0'}}" ng-value=0>{{lang.genericUser | uppercase}}</md-option>
                            </md-select>
                        </md-input-container></td>
                    <td md-cell>
                        <md-button ng-click="manageLocations(user)" class="md-raised background-darkcyan color-white">
                            GESTIONE LOCATIONS
                        </md-button>
                    </td>
                    <td md-cell ng-show="isAdmin || isUserManager" class="no-wrap" ng-click="deleteRow(user)"><img
                            src="img/icons/delete_trash_24.png" alt="Cancella utente" title="Cancella utente"></td>
                </tr>
                <tr md-row ng-show="tableEmpty">
                    <td md-cell colspan="8" class="text-center color-red">Nessun risultato trovato</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-input-container ng-show="isAdmin || isUserManager" md-no-float class="md-block width-100 margin-bottom-0">
            <div layout="row" layout-align="center end" class="margin-bottom-30-px">
                <img src="img/icons/add_row_32.png" class="outline-none cursor-pointer"
                     ng-click="addNewRow()" alt="Aggiungi sito" title="Aggiungi sito">
            </div>
        </md-input-container>

        <md-table-pagination class="color-red" md-limit="query.limit" md-limit-options="query.limitOptions"
                             md-page="query.page"
                             md-total="{{usersTable.length}}" md-on-paginate="">
        </md-table-pagination>
    </div>
</md-content>
<!--end popup content-->
