<div>
    <!--popup header-->
    <md-toolbar id="popup-toolbar">
        <div layout="row" layout-align="end center" class="width-100">
            <md-button class="md-icon-button margin-none" ng-click="hide()">
                <img src="../SMARTSTUDIO/img/icons/close-icon.png" aria-label="Close" alt="Close" title="Close"/>
            </md-button>
        </div>

        <div layout="row" layout-align="center center" class="margin-top--20-px">
            <img src="../SMARTSTUDIO/img/icons/login-icon.png" class="popup-icon" alt="Smart Track" title="Smart Track">
        </div>

        <div layout="column">
            <div layout="row" layout-align="center center" class="">
                <h1 class=" font-iceberg font-x-large">SMART STUDIO - VERSIONI</h1>
            </div>
        </div>
    </md-toolbar>
</div>
<!--end popup header-->

<!--popup content-->
<md-content class="popup-padding">
    <div layout="column" layout-align="center center">

        <md-table-container>

            <table md-table md-row-select="options.rowSelection" multiple="true" ng-model="selected"
                   md-progress="promise">

                <thead md-head md-order="query.order">
                <tr md-row>
                    <th md-column><span class="color-darkcyan">VERSIONE</span></th>
                    <th md-column><span class="color-darkcyan">DESCRIZIONE</span></th>
                    <th md-column><span class="color-darkcyan">DATA</span></th>
                </tr>
                </thead>

                <tbody md-body>
                <tr md-row md-select="floor" md-on-select="logItem" md-auto-select="true">
                    <td md-cell class="color-orange">1.0.0</td>
                    <td md-cell>Prima versione in produzione del gestionale Smart Studio</td>
                    <td md-cell>20/03/2019</td>
                </tr>
                <tr md-row md-select="floor" md-on-select="logItem" md-auto-select="true">
                    <td md-cell class="color-orange">1.1.0</td>
                    <td md-cell>
                        UPDATES: Aggiunta la possibilita' di vedere i tag spenti e dispersi, oltre a quelli online e offline<br>
                        UPDATES: Aggiunto nella tabella dei tag la visualizzazione dei tag online(verde) e offline/spenti/dispersi(grigi)<br>
                        UPDATES: Aggiunta la visualizzazione dell'icona dei tag offline anche quando c'e' almeno un tag disperso/spento<br>
                        UPDATES: Implementata la visualizzazione dell'icona dei tag offline anche quando c'e' un tag disperso/spento<br>
                        BUG FIX: Rimossa la virgola in fondo alla stringa dei Neighbors e Permitted<br>
                        BUG FIX: Il tag di tipo 14 sul canvas non riceveva l'evento click<br>
                        BUG FIX: Risolto il problema della visualizzazione di alcune mappe dei piani(immagini) sul canvas<br>
                        BUG FIX: Risolto il problema del click su un alarme di un tag outdoor che non portava alla location<br>

                    </td>
                    <td md-cell>25/03/2019</td>
                </tr>

                <tr md-row md-select="floor" md-on-select="logItem" md-auto-select="true">
                    <td md-cell class="color-orange">1.2.0</td>
                    <td md-cell>
                        UPDATES: Aggiunto messaggio di avviso quando si clicca su un tag in allarme che non e' dell'utente logatto<br>
                        UPDATES: Inserite delle select per visualizzare gli oggetti offline al posto delle chips<br>
                        UPDATES: Inserito messaggio popup quando si cerca un tag non ancora censito<br>
                        UPDATES: Se si ha solo una location ed e' segnalata come unica location allora alla login si entra direttamente nella location<br>
                        UPDATES: Nell'inserimento sito l'input del raggio deve avere il placeholder "copertura in °"<br>
                        UPDATES: Serializzazione delle chiamate al server<br>
                        UPDATES: Tolto l'auto zoom sulle location outdoor<br>
                        UPDATES: Le location outdoor vengono marcate con la icona di default delle location outdoor se non hanno una icona di default<br>
                        BUG FIX: Hint uguali sui tasti di cancellazione disegno e inserimento ancora<br>
                        BUG FIX: I disegni a volte non si carricavano correttamente sulla mappa<br>
                        BUG FIX: A volte caricava male alcune tabelle<br>
                    </td>
                    <td md-cell>10/04/2019</td>
                </tr>

                <tr md-row md-select="floor" md-on-select="logItem" md-auto-select="true">
                    <td md-cell class="color-orange">1.2.0</td>
                    <td md-cell>
                        UPDATES: Riposizionamento delle ancore da un piano ad un altro dalla modalita' disegna<br>
                        BUG FIX: Risolto il problema del click sui marker di maps che a volte non lo prendeva<br>
                    </td>
                    <td md-cell>11/04/2019</td>
                </tr>
                <tr md-row md-select="floor" md-on-select="logItem" md-auto-select="true">
                    <td md-cell class="color-orange">1.3.0</td>
                    <td md-cell>
                        UPDATES: Inserimeto della possibilita' di traddurre il sito in diverse lingue<br>
                        UPDATES: Aggiunta la possibilita' di premere enter per fare il login qundo si e' sul campo username o password<br>
                    </td>
                    <td md-cell>25/04/2019</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>
</md-content>
<!--end popup content-->
