<div ng-controller="languageController">
    <!--popup header-->
    <md-toolbar id="popup-toolbar">
        <div layout="row" layout-align="end center" class="width-100">
            <md-button class="md-icon-button margin-none" ng-click="hide()">
                <img src="img/icons/close-icon.png" aria-label="{{lang.closeButton}}" alt="{{lang.closeButton}}" title="{{lang.closeButton}}"/>
            </md-button>
        </div>

        <div layout="row" layout-align="center center" class="margin-top--20-px">
            <img src="img/icons/login-icon.png" class="popup-icon" alt="Smart Track" title="Smart Track">
        </div>

        <div layout="column">
            <div layout="row" layout-align="center center" class="">
                <h1 class=" font-iceberg font-x-large">SMART STUDIO - {{lang.versions | uppercase}}</h1>
            </div>
        </div>
    </md-toolbar>
</div>
<!--end popup header-->

<!--popup content-->
<md-content class="popup-padding">
    <div layout="column" layout-align="center center" ng-controller="languageController">

        <md-table-container>

            <table md-table md-row-select="options.rowSelection" multiple="true" ng-model="selected"
                   md-progress="promise">

                <thead md-head md-order="query.order">
                <tr md-row>
                    <th md-column><span class="color-darkcyan">{{lang.version | uppercase}}</span></th>
                    <th md-column><span class="color-darkcyan">{{lang.description | uppercase}}</span></th>
                    <th md-column><span class="color-darkcyan">{{lang.date | uppercase}}</span></th>
                </tr>
                </thead>

                <tbody md-body>
                <tr md-row md-select="floor" md-on-select="logItem" md-auto-select="true">
                    <td md-cell class="color-orange">1.0.0</td>
                    <td md-cell>Prima versione in produzione del gestionale Smart Studio</td>
                    <td md-cell>20/03/2019</td>
                </tr>
                <tr md-row md-select="floor" md-on-select="logItem" md-auto-select="true">
                    <td md-cell class="color-orange">1.1.0</td>
                    <td md-cell>
                        <span class="color-green text-bold">UPDATES</span>: Aggiunta la possibilita' di vedere i tag spenti e dispersi, oltre a quelli online e offline<br>
                        <span class="color-green text-bold">UPDATES</span>: Aggiunto nella tabella dei tag la visualizzazione dei tag online(verde) e offline/spenti/dispersi(grigi)<br>
                        <span class="color-green text-bold">UPDATES</span>: Aggiunta la visualizzazione dell'icona dei tag offline anche quando c'e' almeno un tag disperso/spento<br>
                        <span class="color-red text-bold"></span><br>
                        <span class="color-red text-bold">BUG FIX</span>: Rimossa la virgola in fondo alla stringa dei Neighbors e Permitted<br>
                        <span class="color-red text-bold">BUG FIX</span>: Il tag di tipo 14 sul canvas non riceveva l'evento click<br>
                        <span class="color-red text-bold">BUG FIX</span>: Risolto il problema della visualizzazione di alcune mappe dei piani(immagini) sul canvas<br>
                        <span class="color-red text-bold">BUG FIX</span>: Risolto il problema del click su un alarme di un tag outdoor che non portava alla location<br>

                    </td>
                    <td md-cell>25/03/2019</td>
                </tr>

                <tr md-row md-select="floor" md-on-select="logItem" md-auto-select="true">
                    <td md-cell class="color-orange">1.2.0</td>
                    <td md-cell>
                        <span class="color-green text-bold">UPDATES</span>: Aggiunto messaggio di avviso quando si clicca su un tag in allarme che non e' dell'utente logatto<br>
                        <span class="color-green text-bold">UPDATES</span>: Inserite delle select per visualizzare gli oggetti offline al posto delle chips<br>
                        <span class="color-green text-bold">UPDATES</span>: Inserito messaggio popup quando si cerca un tag non ancora censito<br>
                        <span class="color-green text-bold">UPDATES</span>: Se si ha solo una location ed e' segnalata come unica location allora alla login si entra direttamente nella location<br>
                        <span class="color-green text-bold">UPDATES</span>: Nell'inserimento sito l'input del raggio deve avere il placeholder "copertura in °"<br>
                        <span class="color-green text-bold">UPDATES</span>: Serializzazione delle chiamate al server<br>
                        <span class="color-green text-bold">UPDATES</span>: Tolto l'auto zoom sulle location outdoor<br>
                        <span class="color-green text-bold">UPDATES</span>: Le location outdoor vengono marcate con la icona di default delle location outdoor se non hanno una icona di default<br>
                        <span class="color-red text-bold"></span><br>
                        <span class="color-red text-bold">BUG FIX</span>: Hint uguali sui tasti di cancellazione disegno e inserimento ancora<br>
                        <span class="color-red text-bold">BUG FIX</span>: I disegni a volte non si carricavano correttamente sulla mappa<br>
                        <span class="color-red text-bold">BUG FIX</span>: A volte caricava male alcune tabelle<br>
                    </td>
                    <td md-cell>10/04/2019</td>
                </tr>

                <tr md-row md-select="floor" md-on-select="logItem" md-auto-select="true">
                    <td md-cell class="color-orange">1.2.0</td>
                    <td md-cell>
                        <span class="color-green text-bold">UPDATES</span>: Riposizionamento delle ancore da un piano ad un altro dalla modalita' disegna<br>
                        <span class="color-red text-bold"></span><br>
                        <span class="color-red text-bold">BUG FIX</span>: Risolto il problema del click sui marker di maps che a volte non lo prendeva<br>
                    </td>
                    <td md-cell>11/04/2019</td>
                </tr>
                <tr md-row md-select="floor" md-on-select="logItem" md-auto-select="true">
                    <td md-cell class="color-orange">1.3.0</td>
                    <td md-cell>
                        <span class="color-green text-bold">UPDATES</span>: Inserimeto della possibilita' di traddurre il sito in diverse lingue<br>
                        <span class="color-green text-bold">UPDATES</span>: Aggiunta la possibilita' di premere enter per fare il login qundo si e' sul campo username o password<br>
                    </td>
                    <td md-cell>25/04/2019</td>
                </tr>
                <tr md-row md-select="floor" md-on-select="logItem" md-auto-select="true">
                    <td md-cell class="color-orange">1.4.0</td>
                    <td md-cell>
                        <span class="color-green text-bold">UPDATES</span>: Inserimeto della possibilita' di riposizionare ancore multiple<br>
                        <span class="color-green text-bold">UPDATES</span>: Inserimento del nome delle ancore al posto del id<br>
                        <span class="color-green text-bold">UPDATES</span>: Inserimento della possibilita' di anullare una sessione di disegno<br>
                        <span class="color-green text-bold">UPDATES</span>: Inserimento della select nella finestra evacuation al posto dei chips<br>
                        <span class="color-red text-bold"></span><br>
                        <span class="color-red text-bold">BUG FIX</span>: Risolto il problema della switch del fullscreen
                    </td>
                    <td md-cell>3/05/2019</td>
                </tr>
                <tr md-row md-select="floor" md-on-select="logItem" md-auto-select="true">
                    <td md-cell class="color-orange">2.0.0</td>
                    <td md-cell>
                        <span class="color-green text-bold">UPDATES</span>: Implementazione della segnalazione dei tag fuori da qualsiasi location outdoor inserendoli nella lista dei tag in allarme insieme a tutti gli altri tag che hanno almeno un allarme attivo. I tag fuori da ogni location avranno un’icona identificativa diversa dalle altre icone di allarme. I tag fuori location non saranno tracciati sulla mappa, e non sarà presente nessun avviso speciale, solo visualizzazione nella tabella allarmi come un qualsiasi altro allarme<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementazione del click su un tag fuori da qualsiasi location nella tabella dei tag in allarme, con popup di finestra contenente google map che ne indica la posizione al momento dell’apertura della finestra e con uno zoom di default registrato nella tabella rtls<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementazione della visualizzazione delle opzioni griglia on/off, anchors on/off, fullscreen on/off, cameras on/off in una finestra popup.
                        Implementazione di una nuova voce nel menu delle location indoor che permetta di aprire la finestra popup sopra menzionata.
                        Implementazione del salvataggio delle opzioni menzionate sul una nuova tabella nel database legata ad ogni singolo utente<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementazione dell’aggiornamento in tempo reale della pagina home, in modo da permettere il cambiamento dell’icona della location in un’icona con allarme, e la visualizzazione alternata(ogni secondo) degli allarmi presenti nella location(solo tag, solo ancora) se ce ne sono più di uno, con icone diverse per ognuno dei due stati<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementazione dello zoom sulla location in allarme, o sulle locations in allarme se più di una, con uno zoom predefinito sulla singola location in allarme, se solo una, oppure zoomare in modo da comprendere nella schermata tutte le locations in allarme, se più di una<br>
                        <span class="color-green text-bold">UPDATES</span>: Inserimento di un nuovo livello di utente salvato sul database, che da la possibilità di creare, modificare e cancellare utenti generici e non superuser.
                        Implementazione della gestione degli utenti generici da parte dell’utente medio con tutte le operazioni CRUD da interfaccia grafica, cioè inserimento di un nuovo utente, cancellazione di un utente già esistente, aggiornamento dati di un utente già esistente, visualizzazione di tutti gli utenti generici.  Gli utenti inseriti avranno un account identificato da un username, una descrizione, una password ed un ruolo. Ad inserimento di un nuovo utente, ad esso verrà assegnata una password di default<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementazione delle operazioni CRUD da interfaccia grafica, da parte del superuser sul utente medio, cioè visualizzazione in forma tabellare di tutti gli utenti con la possibilità di inserimento, cancellazione e aggiornamento di un utente. Gli utenti inseriti avranno un account identificato da un username, una descrizione, una password ed un ruolo. Ad inserimento di un nuovo utente, ad esso verrà assegnata una password di default.<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementazione della imposizione del utente di  cambiare la sua password di default con una a scelta che verrà salvata sul database in chiave criptata in modo che nessuno possa risalirci. Questa operazione dovrà essere effettuata solo al primo login e vale sia per utenti medi che per utenti generici. Inserimento di un nuovo campo sul database che identifica se la password è stata cambiata o meno<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementazione della visualizzazione degli allarmi in forma tabellare. Le informazioni mostrate saranno le stesse che vengono mostrate attualmente da un allarme attivo (nomeTag, nomeAllarme, descrizione allarme). Implementazione del click su un allarme presente nella tabella con redirect nella location dove è presente il tag in allarme<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementazione della funzionalità di ordinamento per colonna di tutte le tabelle, quindi clickando sul header di una colonna tutta la tabella dovrà essere ordinata in funzione di quella colonna<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementazione delle operazioni CRUD da interfaccia grafica per quanto riguarda la tabella zone, quindi visualizzazione di tutte le zone, modifica dei campi delle zone, inserimento di una nuova zona, cancellazione di una zona<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementazione dell’inserimento, cancellazione e modifica delle zone dalla modalità disegna tracciando dei rettangoli sul canvas. Le zone avranno un colore di default con una trasparenza impostata nella tabella rtls e visualizzate anche fuori dalla modalità disegna. Le zone disegnate verranno salvate sul database in modo da essere ricaricate quando l’applicazione viene rilanciata<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementare la possibilità di attivare/disattivare l’audio inserendo una nuova opzione tra i pulsanti ancore on/off, camera on/off etc. con salvataggio sul database della configurazione scelta<br>
                        <span class="color-green text-bold">UPDATES</span>: Inplementazione della possibilita’ di spegnere e accendere la visualizzazione dei tag fuori locatio attraverso uno switch presente nei comandi rapidi<br>
                        <span class="color-green text-bold">UPDATES</span>: Inserimento della finestra popup con le coordinate quando si fa la ricerca di un tag outdoor. Le coordinate compariranno al passaggio del mouse sopra il tag visualizzato e scompariranno quando il mouse non sara’ piu’ sul tag<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementazione della imposizione di non chiudere i comandi rapidi se prima non si salvano i dati sul database<br>
                        <span class="color-green text-bold">UPDATES</span>: Inserimento del menu dei comandi rapidi in tutte le schermate<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementazione della gestione delle location da parte dell’utente logato, inserendo un tasto apposito per ogni utente nella tabella degli utenti<br>
                        <span class="color-green text-bold">UPDATES</span>: Inserimento della visualizzazione delle location nella tabella allarmi<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementazione della possibilita’ di mostrare o meno le zone inserendo un nuovo pulsante switch nei comandi rapidi<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementazione della possibilita’ di scegliere un colore per ogni zona disegnata e salvarlo sul database<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementazione della possibilita’ di zoomare su una location andando a selezionarla dalla lista delle location dell'utente (come per search tag)<br>
                        <span class="color-green text-bold">UPDATES</span>: Cambiata l'icona della location in allarme per via di un tag in allarme<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementato all'interno della finestra ancore offline anche le ancore con la batteria scarica<br>
                        <span class="color-green text-bold">UPDATES</span>: Anche le ancore offline sono considerate come allarmi all'interno di una location<br>
                        <span class="color-green text-bold">UPDATES</span>: Inserita la possibilita' di scegliere un colore da un color picker per quanto riguarda la tabella zone<br>
                        <span class="color-green text-bold">UPDATES</span>: Nella finestra info ancora aggiunta anche lo stato dell'ancora (online/offline) e anche lo stato della batteria sole per le ancore di tipo BEACON<br>
                        <span class="color-green text-bold">UPDATES</span>: Nella finestra info tag al posto dell'id inserita la tipologia del tag, inserita un immagine che indica se la batteria e' vuota o meno, inserito un label che indica gli allarmi attivi<br>
                        <span class="color-green text-bold"></span><br>
                        <span class="color-red text-bold">BUG FIX</span>: Se non ci sono allarmi in nessuna location fa zoom su coordinate (0, 0)<br>
                        <span class="color-red text-bold">BUG FIX</span>: Insert floor non faceva vedere la finestra verde a volte<br>
                        <span class="color-red text-bold">BUG FIX</span>: Se non ci sono allarmi nelle location fare lo zoom per vederle tutte<br>
                        <span class="color-red text-bold">BUG FIX</span>: All'inserimento di un utente gestire user settings<br>
                        <span class="color-red text-bold">BUG FIX</span>: Quando si chiude il socket e vado alla pagina login, chiudo tutti i dialog aperti<br>
                        <span class="color-red text-bold">BUG FIX</span>: Non cancellava l'user se aveva almeno una location<br>
                        <span class="color-red text-bold">BUG FIX</span>: Alcune tabelle non avevano la scritta nessun elemento trovato se erano vuote<br>
                        <span class="color-red text-bold">BUG FIX</span>: Se cliccavo fuori dal quadrato per la modifica della zona in modalita disegna e poi provavo a modificare la zona ottenevo un errore
                    </td>
                    <td md-cell>3/05/2019</td>
                </tr>
                <tr md-row md-select="floor" md-on-select="logItem" md-auto-select="true">
                    <td md-cell class="color-orange">2.1.0</td>
                    <td md-cell>
                        <span class="color-green text-bold">UPDATES</span>: Implementata la tradduzione della fase 2<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementata la visualizzazione di solo le location dell'utente logato nella cerca lacation<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementata la possibilita di inserire il campo prossimita' nella taella ancore attraverso una select<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementata la possibilita di inserire il campo tipologia bluetooth nella tabella mac attraverso una select<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementata la possibilita' di cancellare lo storico selezionando un intervallo di tempo<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementata la selezione di default dei permitted all'inserimento di un'ancora<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementata la possibilita' di visualizzare l'icona degli allarmi anche se c'e' un tag in una zona vietata<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementata la gestione e visualizzazione dell'engine off<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementata la possibilita' di inserire la tipologia del tag nella tabella tag attraverso una select<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementata la gestione dei tag nelle zone vietate<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementata la visualizzazione nella tabella allarmi dell'alarme relatiovo al tag nella zona vietata<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementato il controllo dello stato della sessione in modo da fare il logout automatico se scade la sessione<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementato l'inserimento del raggio della location in metri<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementato il cambio da is_online a is_offline per quanto riguarda le ancore<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementata la possibilita' di visualizzare le zone vietate nella home senza pero' la possibilita' di creare una nuova zona<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementata la possibilita di vedere i tag che non hanno nessuna location di default<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementata la possibilita di vedere nella history anche i tag che non hanno nessuna location<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementata la possibilita di spegnere anche i tag diversi da 1 e 14<br>
                        <span class="color-green text-bold"></span><br>
                        <span class="color-red text-bold">BUG FIX</span>: Risolto il problema delle icone in allarme nella schermata home<br>
                        <span class="color-red text-bold">BUG FIX</span>: Risolto il problema per cui l'utente generico poteva modificare le tabelle<br>
                        <span class="color-red text-bold">BUG FIX</span>: L'inserimento di una location non inseriva il nome giusto dell'icona<br>
                        <span class="color-red text-bold">BUG FIX</span>: Risolto il problema dell'aggiornamento dei wetag nella sezione cerca tag<br>
                        <span class="color-red text-bold">BUG FIX</span>: Risolto il problema per cui nello storico non visualizzava il giorno corrente<br>
                        <span class="color-red text-bold">BUG FIX</span>: Riposizionamento ancore cambiava il piano di alcune ancore che non doveva<br>
                        <span class="color-red text-bold">BUG FIX</span>: Risolto il problema della visualizzazione dei tag con inside_zone a 0<br>
                        <span class="color-red text-bold">BUG FIX</span>: Risolto il problema della visualizzazione dei tag con inside_zone a 0<br>
                        <span class="color-red text-bold">BUG FIX</span>: Risolto il problema che l'icona dello stato delle ancore si vedeva sempre<br>
                        <span class="color-red text-bold">BUG FIX</span>: Aggiustato il problema del pulsante add zone per quanto riguarda l'indoor<br>
                        <span class="color-red text-bold">BUG FIX</span>: Risolto il problema dell'eliminazione di un tag con almeno una zona vietata<br>
                        <span class="color-red text-bold">BUG FIX</span>: Risolto il problema per cui la tabella ancore faceva vedere righe doppie e non aggiornava su delete e insert<br>
                        <span class="color-red text-bold">BUG FIX</span>: Risolto il problema grafico sulle zone vietate<br>
                        <span class="color-red text-bold">BUG FIX</span>: Risolti i bug usciti fuori in seguito alla modifica dello spegnimento dei tag diversi da 1 e 14<br>
                    </td>
                    <td md-cell>30/06/2019</td>
                </tr>
                <tr md-row md-select="floor" md-on-select="logItem" md-auto-select="true">
                    <td md-cell class="color-orange">2.2.0</td>
                    <td md-cell>
                        <span class="color-green text-bold">UPDATES</span>: Implementato il loop dell'audio degli allarmi con la possibilita' di fermarlo con un pulsante aposito<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementata la visualizzazione dei tag online per l'utente di primo livello e la possibilita' di scegliere di vederli solo se c'e un tag in allarme per l'utente di secondo livello<br>
                        <span class="color-green text-bold">UPDATES</span>: Inserita la possibilita' di aggiungere una lista di email alla creazione di un utente da parte dell'utente di primo livello<br>
                        <span class="color-green text-bold">UPDATES</span>: Inserita la possibilita' di aggiungere l'url dei bot alla creazione di un nuovo utente da parte dell'utente di primo livello<br>
                        <span class="color-green text-bold">UPDATES</span>: Inserita la possibilita' di aggiungere l'id della chat alla creazione di un nuovo utente da parte dell'utente di primo livello<br>
                        <span class="color-green text-bold">UPDATES</span>: Inserita la possibilita' di aggiungere l'url del web service alla creazione di un nuovo utente da parte dell'utente di primo livello<br>
                        <span class="color-green text-bold">UPDATES</span>: Inserita la scritta "nessuna location" anche per gli allarmi che sono fuori da ogni location<br>
                        <span class="color-green text-bold">UPDATES</span>: Eliminato il secondo socket e serializzato tutto su un socket solo creando un pool di richieste<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementato il messaggio di successo/errore quando viene salvato un disegno<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementata la visualizzazione del numero
                        di tag e ancore in una location nella home attraverso icone invece che scritte<br>
                        <span class="color-green text-bold">UPDATES</span>: Implementato il zoom in/out dell'icona
                        allarmi e migliorata la visualizzazione di tutti i pulsanti in alto a destra<br>
                        <span class="color-green text-bold">UPDATES</span>: Migliorata la visualizzazione dei grafici e
                        delle informazioni sui tag e ancore in alto a destra<br>
                        <span class="color-green text-bold"></span><br>
                        <span class="color-red text-bold">BUG FIX</span>: Quando c'era un allarme in una location
                        alternavo l'icona di default invece di alternare l'icona che la location aveva in quel
                        momento<br>
                        <span class="color-red text-bold">BUG FIX</span>: Aggiustato il pulsante back che quando veniva
                        sciacciato i una location raggiunta attraverso la finestra degli allarmi, dava errore<br>
                        <span class="color-red text-bold">BUG FIX</span>: Risolto il problema per cui se clickavi su un
                        tag sopra un alarme ti faceva vedere tutte e due( il problema era che si mone ha cambiato la
                        dimensione dei tag ma non delle ancore)<br>
                    </td>
                    <td md-cell>15/07/2019</td>
                </tr>
                <tr md-auto-select="true" md-on-select="logItem" md-row md-select="floor">
                    <td class="color-orange" md-cell>V 3.7.2 - BUG FIX</td>
                    <td md-cell>
                        <span class="color-green text-bold">Solved the problem for which the tag icons was not displayed if only mandown alarm was on and another tag offline</span><br>
                    </td>
                    <td md-cell>24/04/2020</td>
                </tr>
                <tr md-auto-select="true" md-on-select="logItem" md-row md-select="floor">
                    <td class="color-orange" md-cell>V 3.7.3 - BUG FIX</td>
                    <td md-cell>
                        <span class="color-green text-bold">Solved the 'map in middle of the ocean'. Solved the home page with only background (controler does not load). Solved some icon visualization problem in legend. Added the label for offline tags in legend</span><br>
                    </td>
                    <td md-cell>24/04/2020</td>
                </tr>
                <tr md-auto-select="true" md-on-select="logItem" md-row md-select="floor">
                    <td class="color-orange" md-cell>V 3.8.0 - MINOR UPDATES</td>
                    <td md-cell>
                        <span class="color-green text-bold">Implemented the reload of the page if the home controller fails to be executed and Inserted the version of the software in the bottom part of the home menu</span><br>
                    </td>
                    <td md-cell>31/05/2020</td>
                </tr>
                <tr md-auto-select="true" md-on-select="logItem" md-row md-select="floor">
                    <td class="color-orange" md-cell>V 3.8.1 - BUG FIX</td>
                    <td md-cell>
                        <span class="color-green text-bold">Removed the hard-coded session name in webSocketServer</span><br>
                    </td>
                    <td md-cell>03/05/2020</td>
                </tr>
                <tr md-auto-select="true" md-on-select="logItem" md-row md-select="floor">
                    <td class="color-orange" md-cell>V 3.8.2 - BUG FIX</td>
                    <td md-cell>
                        <span class="color-green text-bold">Risolto il problema del logo partner che non si vedeva in indoor<br>Risolto il problema delle ancore offline che non si vedevano indoor</span><br>
                    </td>
                    <td md-cell>10/06/2020</td>
                </tr>
                <tr md-auto-select="true" md-on-select="logItem" md-row md-select="floor">
                    <td class="color-orange" md-cell>V 3.9.0 - UPDATES</td>
                    <td md-cell>
                        <span class="color-green text-bold">Implementato l'aggiornamento automatico<br>Messo la chiusura o l'errore del socket sul filelog php</span><br>
                    </td>
                    <td md-cell>10/06/2020</td>
                </tr>
                <tr md-auto-select="true" md-on-select="logItem" md-row md-select="floor">
                    <td class="color-orange" md-cell>V 3.10.0 - UPDATES</td>
                    <td md-cell>
                        <span class="color-green text-bold">Implementata l'interfaccia grafica per l'aggiornamento della versione</span><br>
                    </td>
                    <td md-cell>11/06/2020</td>
                </tr>
                <tr md-auto-select="true" md-on-select="logItem" md-row md-select="floor">
                    <td class="color-orange" md-cell>V 3.11.0 - Impementazione RFID</td>
                    <td md-cell>
                        <span class="color-green text-bold">Implementata la possibilita di scegliere un rfid per ogni tag<br>Adesso solo l'amministratore poo vedere le versioni</span>
                    </td>
                    <td md-cell>19/06/2020</td>
                </tr>
                <tr md-auto-select="true" md-on-select="logItem" md-row md-select="floor">
                    <td class="color-orange" md-cell>V 3.11.1 - Impementazione RFID</td>
                    <td md-cell>
                        <span class="color-green text-bold">Aggiunti i file map cosi chrome non da piu warnings</span>
                    </td>
                    <td md-cell>19/06/2020</td>
                </tr>
                <tr md-auto-select="true" md-on-select="logItem" md-row md-select="floor">
                    <td class="color-orange" md-cell>V 3.12.0 - RFID CRUD</td>
                    <td md-cell>
                        <span class="color-green text-bold">Implementate le operazioni crud per l'rfid<br>Aggiustato il notice sul log del socket<br>Inserito l'audio di alarme stop_screen_share</span>
                    </td>
                    <td md-cell>20/06/2020</td>
                </tr>
                <tr md-auto-select="true" md-on-select="logItem" md-row md-select="floor">
                    <td class="color-orange" md-cell>V 3.13.0 - SELECT ON RFID INSERT</td>
                    <td md-cell>
                        <span class="color-green text-bold">Implementato l'insert di un nuovo rfid con la select per le typologie. Implementata la tabla rfid_type</span>
                    </td>
                    <td md-cell>23/06/2020</td>
                </tr>
                <tr md-auto-select="true" md-on-select="logItem" md-row md-select="floor">
                    <td class="color-orange" md-cell>V 3.13.1 - HOME FRIZ BUG</td>
                    <td md-cell>
                        <span class="color-green text-bold">Risolto il bug per cui rimaneva frizzato nella home per un tot di tempo</span>
                    </td>
                    <td md-cell>23/06/2020</td>
                </tr>
                <tr md-auto-select="true" md-on-select="logItem" md-row md-select="floor">
                    <td class="color-orange" md-cell>V 3.13.2 - REMOVED CATEGORIES ERROR INFO</td>
                    <td md-cell>
                        <span class="color-green text-bold">Rimosso il messaggio di errore quando non riesce a prendere le categorie.</span>
                    </td>
                    <td md-cell>27/06/2020</td>
                </tr>
                <tr md-auto-select="true" md-on-select="logItem" md-row md-select="floor">
                    <td class="color-orange" md-cell>V 3.14.0 - RFID AUTOSELECT</td>
                    <td md-cell>
                        <span class="color-green text-bold">Implementato l'erfid come select nella tabella tags<br>Implementato l'auto select del rfid.</span>
                    </td>
                    <td md-cell>29/06/2020</td>
                </tr>
                <tr md-auto-select="true" md-on-select="logItem" md-row md-select="floor">
                    <td class="color-orange" md-cell>V 3.14.2 - RFID SELECT</td>
                    <td md-cell>
                        <span class="color-green text-bold">Implementata la selezione degli rfid solo per quelli che non sono gia assegnati<br>Implementato il menu rfid all'interno delle locations.</span>
                    </td>
                    <td md-cell>29/06/2020</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>
</md-content>
<!--end popup content-->
V 3.14.2 RFID SELECT

- Implemented the selection of rfids only for those who are not yet assigned
- Inserted the rfid menu inside locations