<div>
    <!--popup header-->
    <md-toolbar id="popup-toolbar" ng-class="isTagInAlarm">
        <div class="width-100" layout="row" layout-align="end center">
            <md-button class="md-icon-button margin-none" ng-click="hide()">
                <img alt="Close" src="img/icons/close-icon.png" title="Close"/>
            </md-button>
        </div>

        <div class="margin-top--20-px" layout="row" layout-align="center center">
            <img alt="Smart Track" class="popup-icon" src="img/icons/login-icon.png" title="Smart Track">
        </div>

        <div layout="column">
            <div class="" layout="row" layout-align="center center">
                <h1 class=" font-iceberg font-x-large">{{camera.description}}</h1>
            </div>
        </div>
    </md-toolbar>
</div>
<!--end popup header-->

<!--popup content-->
<md-content>
    <div layout="column" layout-align="center center">
        <video width="400" controls>
            <source src="resources/videoplayback.mp4" type="video/mp4">
        </video>
    </div>
</md-content>
<!--end popup content-->
