<div ng-controller="languageController">
    <!--popup header-->
    <md-toolbar id="popup-toolbar">
        <div layout="row" layout-align="end center" class="width-100">
            <md-button class="md-icon-button margin-none" ng-click="hide()">
                <img src="img/icons/close-icon.png" aria-label="{{lang.closeButton}}g" alt="{{lang.closeButton}}" title="{{lang.closeButton}}"/>
            </md-button>
        </div>

        <div layout="row" layout-align="center center" class="margin-top--20-px height-60px">
            <img src="img/icons/login-icon-inner.png" class="home-menu-logo top-20px position-absolute"
                 alt="Smart Track" title="Smart Track">
            <img src="img/icons/login-icon-middle-inner.png" class="home-menu-logo spin-logo-right-2s top-20px"
                 alt="Smart Track" title="Smart Track">
            <img src="img/icons/login-icon-middle-outer.png" class="home-menu-logo spin-logo-left-3s top-20px"
                 alt="Smart Track" title="Smart Track">
            <img src="img/icons/login-icon-outer.png" class="home-menu-logo spin-logo-right top-20px"
                 alt="Smart Track" title="Smart Track">
        </div>

        <div layout="column">
            <div layout="row" layout-align="center center" class="">
                <h1 class=" font-iceberg color-white font-x-large">{{lang.zone | uppercase}}</h1>
            </div>
        </div>
    </md-toolbar>
</div>
<!--end popup header-->

<!--popup content-->
<md-content class="popup-padding padding-bottom-70px">

    <div layout="column" layout-align="center center" ng-controller="languageController">

        <md-table-container class="overflow-x-none">

            <table md-table md-row-select="options.rowSelection" ng-model="selected"
                   md-progress="promise">

                <md-select class="width-200-px float-right background-darkcyan color-white text-center"
                           md-selected-text="getName()" multiple ng-model="columns"
                           placeholder="Select columns">
                    <md-option ng-repeat="item in items" ng-selected="{{true}}" ng-value="item">
                        {{item}}
                    </md-option>
                </md-select>

                <thead md-head md-order="query.order">
                <tr md-row>
                    <th md-column md-order-by="name" ng-if="exists('name', columns)"><span class="color-darkcyan">{{lang.name}}</span>
                    </th>
                    <th md-column md-order-by="x_left" ng-if="exists('x_left', columns)"><span class="color-darkcyan">{{lang.xLeft}}</span>
                    </th>
                    <th md-column md-order-by="x_right" ng-if="exists('x_right', columns)"><span class="color-darkcyan">{{lang.xRight}}</span>
                    </th>
                    <th md-column md-order-by="y_up" ng-if="exists('y_up', columns)"><span class="color-darkcyan">{{lang.yUp}}</span>
                    </th>
                    <th md-column md-order-by="y_down" ng-if="exists('y_down', columns)"><span class="color-darkcyan">{{lang.yDown}}</span>
                    </th>
                    <th md-column md-order-by="radius" ng-if="exists('radius', columns)" ng-show="isOutdoor"><span
                            class="color-darkcyan">{{lang.radius}}</span></th>
                    <th md-column md-order-by="gps_north" ng-if="exists('gps_north', columns)" ng-show="isOutdoor"><span
                            class="color-darkcyan">{{lang.xCenter}}</span></th>
                    <th md-column md-order-by="gps_east" ng-if="exists('gps_east', columns)" ng-show="isOutdoor"><span
                            class="color-darkcyan">{{lang.yCenter}}</span></th>
                    <th md-column md-order-by="color" ng-if="isAdmin && exists('color', columns)"><span
                            class="color-darkcyan">{{lang.color}}</span></th>
                    <th md-column md-order-by="priority" ng-if="isAdmin && exists('priority', columns)"><span
                            class="color-darkcyan">{{lang.priority}}</span></th>
                    <th md-column md-order-by="header_order" ng-if="isAdmin && exists('header_order', columns)"><span
                            class="color-darkcyan">{{lang.headerOrder}}</span></th>
                    <th md-column md-order-by="header_left_side" ng-if="isAdmin && exists('header_left_side', columns)">
                        <span class="color-darkcyan">{{lang.headerLeftSide}}</span></th>
                    <th ng-if="isAdmin" md-column></th>
                </tr>
                </thead>

                <tbody md-body>
                <tr md-row md-select="tag" md-on-select="logItem" md-auto-select="true"
                    ng-repeat="zone in zonesTable | orderBy: query.order | limitTo: query.limit: (query.page -1 ) * query.limit">
                    <td md-cell ng-class="{'md-placeholder': !zone.name}" ng-click="editCell($event, zone, 'name')"
                        ng-if="exists('name', columns)">
                        {{zone.name || lang.insertName}}
                    </td>
                    <td md-cell ng-click="zone.x_left !== null ? editCell($event, zone, 'x_left') : null"
                        ng-class="{'md-placeholder': !zone.x_left}" ng-if="exists('x_left', columns)">{{zone.x_left ===
                        null ? 'Valore non necessario' : zone.x_left || lang.insertValue}}
                    </td>
                    <td md-cell ng-click="zone.x_right !== null ? editCell($event, zone, 'x_right') : null"
                        ng-class="{'md-placeholder': !zone.x_right}" ng-if="exists('x_right', columns)">{{zone.x_right
                        === null ? "Valore non necessario" : zone.x_right || lang.insertValue}}
                    </td>
                    <td md-cell ng-click="zone.y_up !== null ? editCell($event, zone, 'y_up') : null"
                        ng-class="{'md-placeholder': !zone.y_up}" ng-if="exists('y_up', columns)">{{zone.y_up === null ?
                        "Valore non necessario" : zone.y_up || lang.insertValue}}
                    </td>
                    <td md-cell ng-click="zone.y_down !== null ? editCell($event, zone, 'y_down') : null"
                        ng-class="{'md-placeholder': !zone.y_down}" ng-if="exists('y_down', columns)">{{zone.y_down ===
                        null ? "Valore non necessario" : zone.y_down|| lang.insertValue}}
                    </td>
                    <td ng-show="isOutdoor" md-cell
                        ng-click="zone.radius !== null ? editCell($event, zone, 'radius') : null"
                        ng-class="{'md-placeholder': !zone.radius}" ng-if="exists('radius', columns)">{{zone.radius ===
                        null ? "Valore non necessario" : zone.radius || lang.insertRadius}}
                    </td>
                    <td ng-show="isOutdoor" md-cell
                        ng-click="zone.gps_north !== null ? editCell($event, zone, 'gps_north') : null"
                        ng-class="{'md-placeholder': !zone.gps_north}" ng-if="exists('gps_north', columns)">
                        {{zone.gps_north === null ? "Valore non necessario" : zone.gps_north || lang.insertValue}}
                    </td>
                    <td ng-show="isOutdoor" md-cell
                        ng-click="zone.gps_east !== null ? editCell($event, zone, 'gps_east') : null"
                        ng-class="{'md-placeholder': !zone.gps_east}" ng-if="exists('gps_east', columns)">
                        {{zone.gps_east === null ? "Valore non necessario" : zone.gps_east|| lang.insertValue}}
                    </td>
                    <td md-cell ng-if="isAdmin && exists('color', columns)"><input
                            ng-change="changeColor(zone.id, zone.color)" ng-model="zone.color" type="color"
                            value="zone.color"
                            colorpick-eyedropper-active="true">
                    </td>
                    <td md-cell ng-class="{'md-placeholder': !zone.priority}"
                        ng-click="editCell($event, zone, 'priority')" ng-if="exists('priority', columns)">
                        {{zone.priority || lang.insertName}}
                    </td>
                    <td md-cell ng-class="{'md-placeholder': !zone.header_order}"
                        ng-click="editCell($event, zone, 'header_order')" ng-if="exists('header_order', columns)">
                        {{zone.header_order || lang.insertName}}
                    </td>
                    <td md-cell ng-class="{'md-placeholder': !zone.header_left_side}"
                        ng-click="editCell($event, zone, 'header_left_side')"
                        ng-if="exists('header_left_side', columns)">
                        {{zone.header_left_side || lang.insertName}}
                    </td>
                    <td md-cell ng-show="isAdmin" ng-click="deleteRow(zone)"><img src="img/icons/delete_trash_24.png" alt="{{lang.deleteTag}}"
                                                                title="{{lang.deleteTag}}"></td>
                </tr>
                <tr md-row ng-show="zonesTable.length === 0">
                    <td md-cell colspan="10" class="text-center color-red">{{lang.noResultFound}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-input-container
                class="md-block position-fixed bottom-0 margin-none margin-bottom-23-px zindex-100 margin-bottom-50-px margin-top-0"
                md-no-float ng-show="isAdmin">
            <div ng-if="isOutdoor" layout="row" layout-align="center end">
                <button ng-click="addNewRectRow()" class="md-button" layout="row" layout-align="center center">
                    <img src="img/icons/add_row_32.png" class="outline-none margin-right-10-px"
                         alt="{{lang.insertTag}}" title="{{lang.insertTag}}">
                    <span>RECTANGLE ZONE</span>
                </button>
                <button ng-click="addNewRoundRow()" class="md-button" layout="row" layout-align="center center">
                    <img src="img/icons/add_row_32.png" class="outline-none margin-right-10-px"
                         alt="{{lang.insertTag}}" title="{{lang.insertTag}}">
                    <span>ROUND ZONE</span>
                </button>
            </div>
            <div ng-if="!isOutdoor" layout="row" layout-align="center end">
                <img src="img/icons/add_row_32.png" class="outline-none cursor-pointer"
                     ng-click="addNewRow()" alt="{{lang.insertTag}}" title="{{lang.insertTag}}">
            </div>
        </md-input-container>

        <md-table-pagination
                class="color-red background-white position-fixed margin-bottom-15-px width-100 padding-0 padding-right-24-px bottom-0 width-100"
                md-limit="query.limit" md-limit-options="query.limitOptions"
                md-page="query.page"
                md-total="{{zonesTable.length}}" md-on-paginate="">
        </md-table-pagination>
    </div>
</md-content>
<!--end popup content-->
