<div>
    <!--popup header-->
    <md-toolbar id="popup-toolbar">
        <div layout="row" layout-align="end center" class="width-100">
            <md-button class="md-icon-button margin-none" ng-click="hide()">
                <img src="../SMARTSTUDIO/img/icons/close-icon.png" aria-label="Close dialog" alt="Close" title="Close"/>
            </md-button>
        </div>

        <div layout="row" layout-align="center center" class="margin-top--20-px">
            <img src="../SMARTSTUDIO/img/icons/login-icon.png" class="popup-icon" alt="Smart Track" title="Smart Track">
        </div>

        <div layout="column">
            <div layout="row" layout-align="center center" class="">
                <h1 class=" font-iceberg font-x-large">ZONE</h1>
            </div>
        </div>
    </md-toolbar>
</div>
<!--end popup header-->

<!--popup content-->
<md-content class="popup-padding">

    <div layout="column" layout-align="center center">

        <md-table-container>

            <table md-table md-row-select="options.rowSelection" ng-model="selected"
                   md-progress="promise">

                <thead md-head md-order="query.order">
                <tr md-row>
                    <th md-column md-order-by="name"><span class="color-darkcyan">NOME</span></th>
                    <th md-column md-order-by="x_left"><span class="color-darkcyan">X LEFT</span></th>
                    <th md-column md-order-by="x_right"><span class="color-darkcyan">X RIGHT</span></th>
                    <th md-column md-order-by="y_up"><span class="color-darkcyan">Y UP</span></th>
                    <th md-column md-order-by="y_down"><span class="color-darkcyan">Y DOWN</span></th>
                    <th md-column></th>
                </tr>
                </thead>

                <tbody md-body>
                <tr md-row md-select="tag" md-on-select="logItem" md-auto-select="true"
                    ng-repeat="zone in zones | orderBy: query.order | limitTo: query.limit: (query.page -1 ) * query.limit">
                    <td md-cell ng-click="editCell($event, zone, 'name')" ng-class="{'md-placeholder': !zone.name}">
                        {{zone.name || 'Inserire nome'}}
                    </td>
                    <td md-cell ng-click="editCell($event, zone, 'x_left')"
                        ng-class="{'md-placeholder': !zone.x_left}">{{zone.x_left || 'Inserire valore'}}
                    </td>
                    <td md-cell ng-click="editCell($event, zone, 'x_right')"
                        ng-class="{'md-placeholder': !zone.x_right}">{{zone.x_right || 'Inserire valore'}}
                    </td>
                    <td md-cell ng-click="editCell($event, zone, 'y_up')"
                        ng-class="{'md-placeholder': !zone.y_up}">{{zone.y_up || 'Inserire valore'}}
                    </td>
                    <td md-cell ng-click="editCell($event, zone, 'y_down')"
                        ng-class="{'md-placeholder': !zone.y_down}">{{zone.y_down || 'Inserire valore'}}
                    </td>
                    <td md-cell ng-click="deleteRow(zone)"><img src="../SMARTSTUDIO/img/icons/delete_trash_24.png" alt="Cancella tag" title="Cancella tag"></td>
                </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-input-container md-no-float class="md-block width-100 margin-bottom-0">
            <div layout="row" layout-align="center end" class="margin-bottom-30-px">
                <img src="../SMARTSTUDIO/img/icons/add_row_32.png" class="outline-none cursor-pointer"
                     ng-click="addNewRow()" alt="Aggiungi tag" title="Aggiungi tag">
            </div>
        </md-input-container>

        <md-table-pagination class="color-red" md-limit="query.limit" md-limit-options="query.limitOptions"
                             md-page="query.page"
                             md-total="{{zones.length}}" md-on-paginate="">
        </md-table-pagination>
    </div>
</md-content>
<!--end popup content-->
